/**
 * Pages Signin (Type 1), Signup
 */
/* Sign In, Forgot Password, Register Pages */
.standalone-page {
  margin: 100px auto 20px;
  max-width: 700px;
}
.standalone-page-login {
  margin: 100px auto 20px;
  max-width: 380px !important;
}
.standalone-page .registration-page {
  margin: 46px auto 20px;
}
.standalone-page .standalone-page-logo {
  /*text-align: center;*/
}
.standalone-page .standalone-page-top-border {
  margin: 0px 0 0;
}
.standalone-page .standalone-page-block {
  background: #ffffff;
  padding: 20px;
  margin: 0;
  -moz-border-radius: 0 0 5px 5px !important;
  -webkit-border-radius: 0 0 5px 5px !important;
  border-radius: 0 0 5px 5px !important;
  -webkit-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
}
.standalone-page .standalone-page-block .heading {
  margin-bottom: 10px;
}
.standalone-page .standalone-page-block .heading .icon {
  float: left;
  line-height: 1.3;
}
.standalone-page .standalone-page-block .heading .main-text {
  display: block;
  margin-left: 0px;
  text-align: center;
}
.standalone-page.standalone-page-block .login-form .form-group {
  margin-bottom: 10px;
}
.standalone-page .standalone-page-block .login-form .form-group:last-child {
  margin-bottom: 0;
}
.standalone-page .standalone-page-block .login-form.form-horizontal .form-group .checkbox {
  padding-top: 0;
}
.standalone-page .standalone-page-block .change-section {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #cccccc;
  text-align: center;
}
.standalone-page .standalone-page-block .change-section .heading {
  margin: 5px 0;
}

@media(max-width:767px){
  .standalone-page {
    margin: 100px auto 20px;
    max-width: 380px;
  }
}
