<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :scorecard %>
    <%= f.association :type_entity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
