<%= form_for(@status_entity,  remote: true, :html => {class: "new_status_entity fv-form fv-form-bootstrap", id: "form_status_entity", novalidate: "novalidate"}) do |f| %>

  <!-- <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button> -->
  <!-- <input name="utf8" type="hidden" value="✓"> -->
  <div class="form-group has-feedback">
    <%= f.label :name, StatusEntity.human_attribute_name(:name) + " (*)".html_safe, class: "control-label" %>
    <%= f.text_field :name, class: "form-control", id: "status_entity_name", required:"required", disabled: "disabled" %>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :sort_name, StatusEntity.human_attribute_name(:sort_name) + " (*)".html_safe, class: "control-label" %>
    <%= f.text_field :sort_name, class: "form-control", id: "status_entity_sort_name", required:"required", disabled: "disabled" %>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :class_name, StatusEntity.human_attribute_name(:class_name) + " (*)".html_safe, class: "control-label" %>
    <%= f.text_field :class_name, class: "form-control", id: "status_entity_class_name", required:"required", disabled: "disabled" %>
  </div>
  <!-- This should be a radio button -->
  <div class="form-group has-feedback">
    <%= f.label :status, StatusEntity.human_attribute_name(:status) + " (*)".html_safe, class: "control-label" %><br>
    <div class="radio">
      <%= f.label :status, "True", value: true, class: "control-label" do %>
        <%= f.radio_button :status, true, id: "status_entity_status_true", class: "icheck-me", data: {skin:"square", color:"blue", style: "position: absolute; opacaity: 0;"}, disabled: "disabled" %>
       <%= t('views_status_entity.form.true')%>
      <% end %>
    </div>
    <div class="radio">
      <%= f.label :status, "False", value: false, class: "control-label" do %>
        <%= f.radio_button :status, false, id: "status_entity_status_false", class: "icheck-me", data: {skin:"square", color:"blue", style: "position: absolute; opacaity: 0;"}, disabled: "disabled" %>
        <%= t('views_status_entity.form.false')%>
      <% end %>
    </div>
  </div>
  <p>
  </p>
  <div class="form-group" id="button_new">
    <div id="" class="btn btn-primary">
      <strong><%= t('views_status_entity.form.new') %></strong>
    </div>
  </div>
  <% if action_name == "edit" %>
    <%= f.hidden_field :id , id: "status_entity_id" %>
  <% end %>

  <input type="hidden" id="action" value="<%= action_name %>">
  <input type="hidden" name="_dontcare">
<!-- Workaround to avoid corrupted XHR2 request body in IE10 / IE11 -->
  <div id="buttons" class="form-group" style="display: none">
    <%= button_tag(name: "button", type:"button", id: "saveConfirm", class: "btn btn-primary") do %>
      <strong><%= t('views_status_entity.form.save') %></strong>
    <%end%>
    <%= button_tag(name: "button", type:"button", id: "cancelConfirm", class: "btn btn-danger" ) do %>
      <strong><%= t('views_status_entity.form.cancel') %></strong>
    <%end%>
  </div>
<% end %>
