<div class="row">
  <div class="col-md-12">
    <h1>
      <span aria-hidden="true" class="icon icon-documents"></span>
      <span class="main-text">
        <%= t 'views_status_entity.title'%>
      </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-sm-8">
    <div class="block block-size-large">
      <div class="block-content-outer">
        <div class="block-content-inner">
          <div class="table-responsive">
            <table id="status-entities-data" class="table table-striped table-hover" data-source="<%= status_entities_datatable_index_path(format: "json") %>" >
              <thead title="<%= t('views_status_entity.datatable.head') %>">
                <tr>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= StatusEntity.human_attribute_name(:name)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= StatusEntity.human_attribute_name(:sort_name)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= StatusEntity.human_attribute_name(:class_name)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= StatusEntity.human_attribute_name(:status)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= StatusEntity.human_attribute_name(:actions)%></h5></th>
                </tr>
              </thead>
              <tbody align="center">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="block block-size-large">
      <div class="block-content-outer">
        <div class="block-content-inner" style="padding: 0px 5px 0px 5px;">
          <%= render partial: "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
<input id="modal_save"   type="hidden" value="<%= t('views_status_entity.modals.save')  %>"></input>
<input id="modal_update" type="hidden" value="<%= t('views_status_entity.modals.update') %>"></input>
<input id="modal_delete" type="hidden" value="<%= t('views_status_entity.modals.delete') %>"></input>
<input id="modal_cancel" type="hidden" value="<%= t('views_status_entity.modals.cancel') %>"></input>
<input id="modal_change" type="hidden" value="<%= t('views_status_entity.modals.change') %>"></input>

<style media="screen">
    .iradio_square-blue .form-control-feedback {
      top: -21px;
      right: -120px;
    }
</style>

<script type="text/javascript">

$('#modal-holder').append('<%= render 'layouts/confirmation_modal' %>');

$("#status-entities-data").DataTable({
    "processing": true,
    "serverSide": true,
    "ajax": $('#status-entities-data').data('source'),
    "pagingType": 'simple_numbers',
    /*autoWidth: false,*/
    "bLengthChange": false,
    "iDisplayLength": 8, // Number of rows to display on a single page when using pagination.
    //"order": [[ 0, "desc" ]],
    /*columnDefs: [
       { orderable: false, targets: -1 }
    ]*/
    "columns": [
      {"data": "name"},
      {"data": "sort_name"},
      {"data": "class_name"},
      {"data": "status"},
      {"data": "actions", orderable: false }
    ]
});
// -------------------- Modal activators ----------------------------
$(document).on("click", ".deleteConfirm", function(a){
  a.preventDefault();
  $('#small-modal').find('.btn-primary').attr('id','delete');
  $('#small-modal').attr('data-id', $(this).data("id"));
  var text =  $('#modal_delete').val();
  $('.modal-body').empty();
  $('.modal-body').append(text);
  $('#small-modal').modal('show');
});


$(document).on('click','#cancelConfirm', function(a){
  a.preventDefault();
  $('#small-modal').find('.btn-primary').attr('id','cancel');
  var text =  $('#modal_cancel').val();
  $('.modal-body').empty();
  $('.modal-body').append(text);
  $('#small-modal').modal('show');
});

$(document).on('click','#saveConfirm', function(a){
  if ($('#form_status_entity').data("formValidation").validate().isValid()) {
    a.preventDefault();
    $('#small-modal').find('.btn-primary').attr('id','save');
    var text =  $('#modal_save').val();
    $('.modal-body').empty();
    $('.modal-body').append(text);
    $('#small-modal').modal('show');
  }
});

$(document).on("click", ".edit", function(){
  var a = $(this).attr("data-id");
  Turbolinks.visit("/status_entities/" + a + "/edit");
});
$(document).on('click','#updateConfirm', function(a){
  if ($('#form_status_entity').data("formValidation").validate().isValid()) {
    a.preventDefault();
    $('#small-modal').find('.btn-primary').attr('id','update');
    var text =  $('#modal_update').val();
    $('.modal-body').empty();
    $('.modal-body').append(text);
    $('#small-modal').modal('show');
  }
});

// -------------------- Modal actions ----------------------------

$(document).on('click','#delete', function(){
  var a = new FormData($("#form_status_entity")[0]);
  var e = $('#small-modal').attr("data-id");
  $.ajax({
    url: "/status_entities/" + e,
    type: "DELETE",
    data: a,
    cache: false,
    processData: false,
    contenttype: false,
    beforeSend: function(){
      $('#small-modal').modal('hide');
    },
    success: function(){
      $('#status-entities-data').DataTable().ajax.reload();
      if ($('#status_entity_id').length && $('#status_entity_id').val() == e) {
        Turbolinks.visit("<%= status_entities_path %>");
      } else {
        $('#status-entities-data').DataTable().ajax.reload();
      }
    }
  });
  $('#small-modal').modal('hide');
});

$(document).on('click','#cancel', function(){
  if ($('#status_entity_id').length) {
    Turbolinks.visit("<%= status_entities_path %>");
  } else {
    disable_form();
    $('#small-modal').modal('hide');
  }
});

$(document).on('click','#save', function(e){
  $("#form_status_entity").trigger('submit.rails');
  disable_form();
  $('#small-modal').modal('hide');
  $('#status-entities-data').DataTable().ajax.reload();
  e.stopImmediatePropagation();

  // var a = new FormData($("#form_status_entity")[0]);
  // alert(a);
  // alert('<%= status_entities_path %>')
  // $.ajax({
  //   url: "<%= status_entities_path %>",
  //   type: "POST",
  //   data: a,
  //   dataType: "JSON",
  //   cache: false,
  //   processData: false,
  //   contenttype: false,
  //   beforeSend: function(){
  //     $('#small-modal').modal('hide');
  //   },
  //   success: function(){
  //     alert('Success');
  //   }
  // });
  // alert("Finished ajax call");
});

$(document).on('click','#update', function(e){
  $("#form_status_entity").trigger('submit.rails');
  $('#small-modal').modal('hide');
  Turbolinks.visit("<%= status_entities_path %>");
  e.stopImmediatePropagation();

  // var a = $('#status_entity_id').val();
  // var e = new FormData($("#form_status_entity")[0]);
  // alert(a + e);
  // $.ajax({
  //   url: "/status_entities/" + a,
  //   type: "PUT",
  //   data: e,
  //   dataType: "JSON",
  //   cache: false,
  //   processData: false,
  //   contenttype: false,
  //   beforeSend: function(){
  //     $('#small-modal').modal('hide');
  //   },
  //   success: function(){
  //     alert('Success');
  //   }
  // });
  // alert("Finished ajax call");
});

// -------------------- Others ----------------------------

$(document).on('click','#button_new', function(){
  $('#button_new').css("display", "none");
  $('#buttons').css("display", "block");
  $('#form_status_entity :input').removeAttr('disabled');
  $('.iradio_square-blue').removeClass('disabled'); //new
});

function disable_form (){
  $('#form_status_entity')[0].reset();
  $('.form-group').removeClass('has-error has-success');
  $('.form-control-feedback').removeClass('icon icon-check icon-cross icon-refresh');
  $('#form_status_entity :input').attr('disabled','disabled');
  $('#form_status_entity .help-block').css('display','none');
  $('#button_new').css("display", "block");
  $('#buttons').css("display", "none");
  $('.iradio_square-blue').addClass('disabled'); //new
  $('.iradio_square-blue').removeClass('checked'); //new
};

if ($('#action').val() == 'edit') {
  $('#button_new').css("display", "none");
  $('#buttons').css("display", "block");
  $('#form_status_entity :input').removeAttr('disabled');
  $('#saveConfirm').attr('id','updateConfirm');
  $('#updateConfirm').empty();
  var text = '<strong><%= t('views_status_entity.form.update') %></strong>';
  $('#updateConfirm').append(text);
  $('.iradio_square-blue').removeClass('disabled'); //new
};

$(".icheck-me").length > 0 && $(".icheck-me").each(function() {
    var a = $(this)
      , e = void 0 !== a.attr("data-skin") ? "_" + a.attr("data-skin") : ""
      , t = void 0 !== a.attr("data-color") ? "-" + a.attr("data-color") : ""
      , o = {
        checkboxClass: "icheckbox" + e + t,
        radioClass: "iradio" + e + t
    };
    a.iCheck(o)
}),

$("#form_status_entity").formValidation({
    framework: "bootstrap",
    icon: {
      valid: 'icon icon-check',
      invalid: 'icon icon-cross',
      validating: 'icon icon-refresh'
    },
    excluded: ":disabled",
    fields: {
        "status_entity[name]": {
            validators: {
                notEmpty: {
                    message: "The name is required and cannot be empty"
                }
            }
        },
        "status_entity[sort_name]": {
            validators: {
                notEmpty: {
                    message: "The sort name is required and cannot be empty"
                },
                stringLength: {
                    max: 6,
                    message: 'The sort name must be less than 6 characters long'
                }
            }
        },
        "status_entity[class_name]": {
            validators: {
                notEmpty: {
                    message: "The class name is required and cannot be empty"
                },
            }
        },
        "status_entity[status]": {
            validators: {
                notEmpty: {
                    message: "The status is required and cannot be empty"
                }
            }
        }
    }
});

</script>
