<%= form_for(@requests_category, :html => {class: "fv-form fv-form-bootstrap", id: "form_requests_category" }) do |f| %>
    <div class="form-group">
        <%= f.label :name, "Name <span class='required'>(*)</span>".html_safe, class:"control-label"%>
        <%= f.text_field :name, class: "form-control", required: true, disabled: true%>
        <% unless @requests_category.organization_id.nil? %> 
            <%= f.hidden_field :organization_id %>
        <% else %>
            <%= f.hidden_field :organization_id, value: current_user.organization_id%>
        <% end %>
    </div>
    <div class="form-group">
        <%= f.label :status_entity_id, RequestsCategory.human_attribute_name(:status_entity_id)+" (*)".html_safe, class:"control-label"%><p>
        <%= f.check_box(:status_entity_id, @requests_category.id.nil? ? {class: 'js-switch', disabled: true, checked: true } : {class: 'js-switch', disabled: true }, @availableActive[0].id, @availableInactive[0].id) %> 
    </div>
    <div class="form-group">
        <%= f.label :type_entity_id, RequestsCategory.human_attribute_name(:type_entity_id)+" (*)".html_safe, class:"control-label"%><p>
        <div class="radio">
            <label>
                <%= f.radio_button :type_entity_id, @typePublic[0].id, class: 'icheck-me', data: { skin:"square", color:"blue"}, disabled: true %>
                Public
            </label>
            <label>
                <%= f.radio_button :type_entity_id, @typePrivate[0].id , class: 'icheck-me', data: { skin:"square", color:"blue"}, disabled: true%>
                Private
            </label>
        </div>
    </div>
    <%= f.fields_for :scorecard do |ff| %>
        <%= ff.hidden_field :id %>
    <% end %> 
    <p></p>
    <% if params[:action] == "index" %>
        <div class="form-group" id="button_new">
            <%= button_tag(type: 'button', id: "new", class: "btn btn-primary" ) do %>
                New
            <%end%>     
        </div>
    <% end %>
    <input type="hidden" id="action" value="<%= params[:action] %>">
    <!-- Workaround to avoid corrupted XHR2 request body in IE10 / IE11 -->
    <input type="hidden" name="_dontcare">
    <div id="buttons" class="form-group" style="display: none">
        <% unless @requests_category.id.nil? %>
            <%= f.hidden_field :id %>
            <%= button_tag(type: 'button', id: "updateConfirm", class: "btn btn-primary" ) do %>
                <%= content_tag(:strong, 'Update') %>                     
            <%end%>   
        <% else %>
            <%= button_tag(type: 'button', id: "saveConfirm", class: "btn btn-primary" ) do %>
                Save
            <%end%>
        <% end %>
        <%= button_tag(type: 'button', id: "cancelConfirm", class: "btn btn-danger" ) do %>
            <%= content_tag(:strong, 'Cancel') %>                     
        <%end%>
    </div>
<% end %>