<% unless @scorecard.id.nil? %>
    <% unless f.object.question.type_entity_id == @yes_no[0].id %>      
        <!--<div class="multiple_options">-->
           <%= render 'multiple_options', f: f %>                   
        <!--</div>-->
    <% else %>
        <!--<div class="yes_not">           -->
            <%= render 'yes_not', f: f %>   
        <!--</div>-->
    <% end %>
<% else %>
    <!--<div class="multiple_options" style="display:none">-->
        <%= render 'multiple_options', f: f %>  
    <!--</div>-->
    <!--<div class="yes_not" style="display: none">-->
        <%= render 'yes_not', f: f %>   
        <p>
    <!--</div>-->
<% end %><%#= javascript_include_tag "admin/scorecards"%>