<%= form_for(@scorecard, url: scorecards_path, remote: true, html: { id: 'formScorecard', role: 'form'} ) do |f| %> 
<div class="row">
    <div class="col-md-12">
        <h1>
            <span aria-hidden="true" class="icon icon-documents"></span>
            <span class="main-text">
                <%= t 'views_request_category.scorecard.title' %>
            </span>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-sm-8">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">  
                <%= t 'views_request_category.scorecard.questions.title' %>
                </div>
            </div>          
            <div class="block-content-outer" style="min-height:500px">
                <div class="block-content-inner">
                    <div class='links'>
                        <%= link_to_add_association(fa_icon('plus', text: I18n.t('views_request_category.scorecard.questions.new')), f, :questions, class: 'btn btn-primary newQuestion', data: {:'association-insertion-method' => :before, :'association-insertion-node' => "#newQ" }) %>
                        <%= button_tag(type: 'button', id: "cancelConfirm", class: "btn btn-danger" ) do %>
                            <%= content_tag(:strong, I18n.t('views_request_category.scorecard.questions.cancel')) %>                     
                        <%end%>
                    </div>
                    <% @@count_question = 0 %>
                    <div id='questions'>
                        <%= f.fields_for :questions do |builder, i| %>
                            <%= render :partial => 'question_fields', :locals => {:f => builder } %>  
                        <% @@count_question += 1 %> 
                        <% end %>
                        <div id="newQ" class='links'>
                            <%= link_to_add_association(fa_icon('plus', text:I18n.t('views_request_category.scorecard.questions.new')), f, :questions, class: 'btn btn-primary newQuestionTwo', style:"display:none") %>
                        </div>
                    </div>
                    <%#= button_tag(type: 'button', id: "save", class: "btn btn-primary" ) do %>
                        <%#= content_tag(:strong, 'SAVE') %>                     
                    <%#end%>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                <%= t 'views_request_category.scorecard.settings' %>
                </div>
            </div>
            <div class="block-content-outer" style="min-height:500px">
                <div class="block-content-inner">
                    <%= render 'scorecard', :f => f %>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>
<input id="modal_save"   type="hidden" value="<%= I18n.t('views_request_category.scorecard.modals.save')  %>"></input>
<input id="modal_update" type="hidden" value="<%= I18n.t('views_request_category.scorecard.modals.update') %>"></input>
<input id="modal_delete" type="hidden" value="<%= I18n.t('views_request_category.scorecard.questions.modals.delete') %>"></input>
<input id="modal_cancel" type="hidden" value="<%= I18n.t('views_request_category.scorecard.modals.cancel') %>"></input>
<%= render 'layouts/modal/confirmation_modal' %>
<%= javascript_include_tag "scorecards"%>