<div class='nested-fields fieldsAnswers' style="padding: 0 0px 5px 0px">
    <div class="row field">
        <div class="col-md-1"></div>
        <% unless f.object.question.blank? %>
            <% if f.object.question[:multiple_answers] == true %>
                <div align="center" class="col-md-1 only_radio check" style="display:none;">
                    <%= f.hidden_field :correct_answer, value:'false', class: "chk_hidden" %>
                    <%= f.radio_button :correct_answer, true, style:"margin: 10px 0 0 0px", class: "chk_radio", disabled:true %>
                    <%#= f.radio_button :correct_answer, true, style:"margin: 10px 0 0 0px", class:'radio_chk' %>

                </div>
                <div align="center" class="col-md-1 only_checkbox check">
                    <%#= f.hidden_field :correct_answer, value:'false' %>
                    <%= f.check_box :correct_answer, style:"margin: 10px 0 0 0px", class: "chk_check"%>
                </div>
            <% else %>
                <div align="center" class="col-md-1 only_radio check">
                    <%= f.hidden_field :correct_answer, value:"false", class: "chk_hidden" %>
                    <%= f.radio_button :correct_answer, true, style:"margin: 10px 0 0 0px", class: "chk_radio" %>
                    <%#= f.radio_button :correct_answer, f.options[:child_index], name: "scorecard[questions_attributes][0][answers_attributes][correct_answer]" %>
                    <%#= f.radio_button :correct_answer, f.options[:child_index] %>
                </div>
                <div align="center" class="col-md-1 only_checkbox check" style="display:none;">
                    <%#= f.hidden_field :correct_answer, value:'false' %>
                    <%= f.check_box :correct_answer, style:"margin: 10px 0 0 0px", class: "chk_check", disabled:true%>
                </div>
            <% end %>
        <%else %>
            <div align="center" class="col-md-1 only_radio check">
                <%= f.hidden_field :correct_answer, value:"false", class: "chk_hidden" %>
                <%= f.radio_button :correct_answer, true, style:"margin: 10px 0 0 0px", class: "chk_radio" %>


                <%#= f.radio_button :correct_answer, f.options[:child_index], name: "scorecard[questions_attributes][0][answers_attributes][correct_answer]" %>
                <%#= f.radio_button :correct_answer, f.options[:child_index] %>         
            </div>
            <div align="center" class="col-md-1 only_checkbox check" style="display:none;">
                <%= f.check_box :correct_answer, style:"margin: 10px 0 0 0px", class: "chk_check", disabled: true%>
            </div>
        <% end %>
        <div align="right" class="col-md-1 numfieldsAnswers"></div>
        <div class="col-md-7" style="padding-left:0px" >
            <%= f.text_field :content, class: "form-control contentFullAnswer", placeholder:"Enter answer", style:"margin: 5px 0 0 0px", value:f.object.content %>
                <span style="display:none; font-size: 85%; color:red; margin-left: 20px"></span>
        </div>
        <div class="col-md-1 idAnswer" >    
             <%= f.hidden_field :id ,class:"form-control id_"  %> <!--DO NOT REMOVE IMPORTANT WHEN ELIMINATED -->

            <%#= link_to_remove_association(fa_icon('remove'), f, class: 'btn btn-danger btn-xs ', style:"margin: 10px 0 0 30px") %>
            <%= link_to_remove_association("<span style='cursor:pointer' class='icon-cross icon-size-medium highlight-color-gray-text'></span>".html_safe, f, style:"margin: 0px 0px 0px 0px") %>
        </div>
    </div>
</div>
<style type="text/css">
.numfieldsAnswers {
  reset-counter: ida;
}
.fieldsAnswers {
  counter-increment: ida;
}
.numfieldsAnswers:before {
  content: counter(ida) ".-";
}
</style>
<script type="text/javascript">
/*$("input:checkbox.chk_radio").click(function(){
    $("input:checkbox.chk_radio").not($(this)).removeAttr("checked");
    $(this).attr("checked", $(this).attr("checked"));    
});*/

/*$(".chk_radio").change(function() {
    var checked = $(this).is(':checked');
    $(".chk_radio").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
});*/
</script>