<div class='nested-fields fieldsQuestions' style="background: #f1f1f1; margin: 5px">  
    <div class="row field" style="padding: 10px">
        <div class="col-md-1 numfieldsQuestions" align="right"></div>
        <div class="col-md-9">
            <%#= f.hidden_field :id ,class:"form-control", value: f.object.id %>
            <%= f.text_field :content, class: "form-control Content contentFull", placeholder:"Enter question" %>
            <span style="display:none; font-size: 85%; color:red;"></span>
        </div>
        <div class="col-md-1" style="padding-left:0px">
            <%= f.text_field :score, class: "form-control score", readonly: true %>
            <span style="display:none; font-size: 85%; color:red;"></span>
        </div>
        <div class="col-md-1" style="padding-top: 0px;">
            <%= f.hidden_field :id ,class:"form-control"  %> <!--DO NOT REMOVE IMPORTANT WHEN ELIMINATED QUESTION SIMPLE WITH MODAL GRADABLE-->
            <a href="#" data-id="" style='cursor:pointer' class='deleteConfirm icon-cross icon-size-medium highlight-color-gray-text'></a>
            <%#= link_to_remove_association("<span style='cursor:pointer' class='icon-cross icon-size-medium'></span>".html_safe,f, data: { confirm: 'Sure To Delete Question?' }, class: '', id:'removeQuestions') %>
        </div> 
    </div>
    <div class="row field" style="padding: 10px">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <% unless @scorecard.gradable %>
                <%= f.select( :type_entity_id, options_for_select( TypeEntity.where("class_name = ? AND status_entity_id = ?", "Question", @entityActive[0].id).collect {|p| [p.name, p.id] }, f.object.type_entity_id), {prompt:''}, { class: 'form-control chosen-select question_type'})%>
            <% else %>
                <%= f.select( :type_entity_id, options_for_select( TypeEntity.where("class_name = ? AND status_entity_id = ?", "Question", @entityActive[0].id).collect {|p| [p.name, p.id] }, f.object.type_entity_id), {prompt:''}, { class: 'form-control chosen-select question_type'})%>
            <% end %>
        </div>
        <% unless @scorecard.id.nil? %> 
            <% if f.object.type_entity_id == @multiple_options[0].id || f.object.type_entity_id == @combo[0].id %>
                <div class="col-md-3">
                    <div class="more_answers" style="display:">             
                        <%= f.check_box(:multiple_answers, { class: 'icheck-me more', data: { skin:"square", color:"blue"} }, "true", "false") %> Select more answers
                    </div>
                </div> 
                <div class="col-md-3">
                    <div class="random_order" style="display:">             
                        <%= f.check_box(:random_answer_order, { class: 'icheck-me', data: { skin:"square", color:"blue"} }, "true", "false") %> Random answers order
                    </div>
                </div>
            <% else %>
                <div class="col-md-3">
                    <div class="more_answers" style="display:none;">                
                        <%= f.check_box(:multiple_answers, { class: 'icheck-me more', data: { skin:"square", color:"blue"} }, "true", "false") %> Select more answers
                    </div>
                </div> 
                <div class="col-md-3">
                    <div class="random_order" style="display:none">             
                        <%= f.check_box(:random_answer_order, { class: 'icheck-me', data: { skin:"square", color:"blue"} }, "true", "false") %> Random answers order
                    </div>
                </div>
            <% end %>
        <% else %>
            <div class="col-md-3">
                <div class="more_answers" style="display:none;">                
                    <%= f.check_box(:multiple_answers, { class: 'icheck-me more', data: { skin:"square", color:"blue"} }, "true", "false") %> Select more answers
                </div>
            </div> 
            <div class="col-md-3">
                <div class="random_order" style="display:none">             
                    <%= f.check_box(:random_answer_order, { class: 'icheck-me', data: { skin:"square", color:"blue"} }, "true", "false") %> Random answers order
                </div>
            </div>
        <% end %>   
        <div class="col-md-1"></div>
        <!--<div class="col-md-2">
            <%#= f.text_field :score, class: "form-control", placeholder:"% of score" %>
        </div>-->
    </div>    
    <input type="hidden" id="action" value="<%= params[:action] %>">
    <div id="answers">
        <% unless f.object.answers.blank? %>
            <div class="row textInfo" style="display:;">
                <div class="col-md-1"></div>
                <div class="col-md-1 select_radio" style="margin: 5px 0px 0px 10px">
                    Correct
                </div>
                <div class="col-md-7" style="margin: 5px 0px 0px 10px">
                    Answer
                </div>
            </div>
        <% else %>
            <div class="row textInfo" style="display:none;">
                <div class="col-md-1"></div>
                <div class="col-md-1 select_radio" style="margin: 5px 0px 0px 10px">
                    Correct
                </div>
                <div class="col-md-7" style="margin: 5px 0px 0px 10px">
                    Answer
                </div>
            </div>
        <% end %>
        <%= f.fields_for :answers do |builder| %>
          <%= render 'answer_fields', f: builder %>
        <% end %>
        <% unless @scorecard.id.nil? %>
            <% if f.object.type_entity_id == @multiple_options[0].id  || f.object.type_entity_id == @combo[0].id  %>                    
                <div class="2" id="links" style="display: none">    
                  <%= link_to_add_association("<span style='cursor:pointer' class='icon-plus icon-size-medium'></span>".html_safe, f , :answers, partial:'yes_not', class: 'newAnswer', style:"margin: 0 0 10px 70px") %>
                </div>
                <div class="1" id="links">          
                  <%= link_to_add_association("<span style='cursor:pointer' class='icon-plus icon-size-medium highlight-color-gray-text'></span>".html_safe, f , :answers, partial:'multiple_options', class: 'bton newAnswer', style:"margin: 0 0 10px 70px") %>
                </div>
            <% else %>
                <div class="1" id="links" style="display: none">            
                  <%= link_to_add_association("<span style='cursor:pointer' class='icon-plus icon-size-medium highlight-color-gray-text'></span>".html_safe,f, :answers, partial:'multiple_options', class: 'bton newAnswer', style:"margin: 0 0 10px 70px") %>
                </div>  
                <div class="2" id="links" style="display: none" >   
                  <%= link_to_add_association("<span style='cursor:pointer' class='icon-plus icon-size-medium'></span>".html_safe, f , :answers, partial:'yes_not', class: 'btn btn-success btn-xs newAnswer', style:"margin: 0 0 10px 70px") %>
                </div>          
            <% end %>
        <% else %>
            <div class="1" id="links" style="display:none">         
              <%= link_to_add_association("<span style='cursor:pointer' class='icon-plus icon-size-medium highlight-color-gray-text'></span>".html_safe, f , :answers, partial:'multiple_options', class: 'btn btn-success btn-xs bton newAnswer', style:"margin: 0 0 10px 70px", data: {:'association-insertion-traversal' => 'closest' }) %>
              <!--#parent_table-->
            </div>
            <div class="2" id="links" style="display: none">            
              <%= link_to_add_association("<span style='cursor:pointer' class='icon-plus icon-size-medium'></span>".html_safe, f , :answers, partial:'yes_not', class: 'btn btn-success btn-xs newAnswer', style:"margin: 0 0 10px 70px") %>
            </div>
        <% end %>
        </br>
        <div class="row saveQuestion" style="display:none;" >
            <div class="col-md-12" align="right" style="padding-right: 40px">           
                <%= button_tag(type: 'button', id: "updateQuestion", class: "btn btn-primary" ) do %>
                    <%= content_tag(:stro, 'Save Question') %>                     
                <%end%>
            </div>
        </div>
    </div>
</div>  
<%= javascript_include_tag "scorecards"%>
<style type="text/css">
.numfieldsQuestions {
  reset-counter: idx;
}
.fieldsQuestions {
  counter-increment: idx;
}
.numfieldsQuestions:before {
  content: counter(idx) ".-";
}
</style>