    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <%= f.label :gradable, "Gradable <span class='required'>(*)</span>".html_safe%><p>
                <%= f.check_box(:gradable, {class: 'js-switch gradable' }) %>
            </div>
            <div class="col-md-8">
                <%= f.label :pass_grade, "Pass Grade <span class='required'>(*)</span>".html_safe, style:"padding-bottom:0px"%>
                <% unless f.object.pass_grade.nil? %> 
                    <%#= f.text_field :pass_grade, class: "form-control", maxlength: "100", required: true %>
                    <%= f.text_field :pass_grade, class: "form-control", data: {autonumeric: {aSign: '%', pSign: 's', mDec: 0,  vMin: '0', vMax:'100'}} %>
                <% else %>
                    <%#= f.text_field :pass_grade, class: "form-control", required: true, disabled: true%>
                    <%= f.text_field :pass_grade, class: "form-control", disabled: true, data: {autonumeric: {aSign: '%', pSign: 's', mDec: 0,  vMin: '0', vMax:'100'}} %>
                <% end %>   
                <!--<span style="display:none; font-size: 85%; color:red"></span>-->
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Different Question Order(*)</label>
        <!--<div class="checkbox">
            <%#= f.check_box :type_different_question,
                  :data => { :size=>'normal', 'on-color'=>'success', 'off-color'=>'danger', 'on-text'=>'YES', 'off-text'=>'NO' } %>
            <%# unless @scorecard.different_question_order == true %>
                <input type="checkbox" id="type_question" data-size="normal" data-on-color="success" data-off-color="danger" data-on-text="YES" data-off-text="NO">-->
            <%# else %>
                <!--<input type="checkbox" id="type_question" data-size="normal" data-on-color="success" data-off-color="danger" data-on-text="YES" data-off-text="NO" checked="checked">-->
            <%# end %>
            <%#= f.hidden_field :request_category_id, class: "form-control", required: true, value:params[:request_category_id] %>  
        <!--</div>  -->
        <%#= f.label :gradable, "Gradable <span class='required'>(*)</span>".html_safe%><p>
        <%= f.check_box(:type_different_question, {class: 'js-switch' }) %>
    </div>
    <div class="form-group">
        <div class=" row">
            <div class="col-md-9">              
                <div class="radio">
                    <label>
                        <%= f.radio_button :different_question_order, false, class: 'icheck-me', data: { skin:"square", color:"blue"}, disabled: true %>
                        Random Questions Order
                    </label>
                    <label>
                        <%= f.radio_button :different_question_order, true , class: 'icheck-me', data: { skin:"square", color:"blue"}, disabled: true%>
                        N° Questions
                    </label>
                    <label>

                    </label>
                </div>          
            </div>
            <div align="left" class="col-md-3">
                <% unless f.object.num_questions.nil? %> 
                    <%= f.text_field :num_questions, class: "form-control", data: {autonumeric: {mDec: 0,  vMin: '0', vMax:'1000'}} %>
                <% else %>
                    <%= f.text_field :num_questions, class: "form-control", disabled: true, data: {autonumeric: {mDec: 0,  vMin: '0', vMax:'999'}} %>
                <% end %>
                <!--<span style="display:none; font-size: 85%; color:red"></span>-->
            </div>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :status_entity_id, Scorecard.human_attribute_name(:status_entity_id)+" (*)".html_safe, class:"control-label"%><p>
        <%= f.check_box(:status_entity_id, {class: 'js-switch' }, @avalableActive[0].id, @avalableInactive[0].id) %>
    </div>
    </br>
    <div id="buttons" class="form-group">
        <%# unless @scorecard.id.nil? %>
            <input type="hidden" id="type_entity_simple" value="<%=@simple[0].id%>">
            <%= f.hidden_field :requests_category_id %>          
            <%= f.hidden_field :id %>
            <%= button_tag(type: 'button', id: "updateConfirm", class: "btn btn-primary" ) do %>
                <%= content_tag(:strong, I18n.t('views_request_category.scorecard.update')) %>               
            <%end%>     
        <%# else %>     
            <%#= button_tag(type: 'button', id: "save", class: "btn btn-primary" ) do %>
                <%#= content_tag(:strong, 'SAVE') %>                     
            <%#end%>
        <%# end %>
            <%#= button_tag(type: 'button', id: "cancel", class: "btn btn-danger" ) do %>
                <%#= content_tag(:strong, 'CANCEL') %>                     
            <%#end%>
    </div>

<script type="text/javascript">
    var changeCheckbox = document.querySelector('#scorecard_gradable');
    var init2 = new Switchery(changeCheckbox);
    var elem = document.querySelector('#scorecard_status_entity_id');
    var init = new Switchery(elem);
    var changeDifferentQuestion = document.querySelector('#scorecard_type_different_question');
    var init3 = new Switchery(changeDifferentQuestion);
</script>