<div class='nested-fields fieldsAnswers' style="padding: 0 0px 5px 0px">
    <p class="itemsAnswers"></p>  
    <div class="row field">
        <!--<div class="col-md-1">
            <%#= f.radio_button :_destroy, "", style:"margin: 10px 0 0 30px" %>
            <%#= id %>
        </div>-->
        <div class="col-md-1"></div>
        <div class="col-md-1" align="center">                   
            <!--<input type="radio" name="correct" id="correct" style="margin: 10px 0px 0px 0px">-->
         <%= f.hidden_field :correct_answer, value:"false", class: "chk_hidden" %>
         <%= f.radio_button :correct_answer, true, style:"margin: 10px 0 0 0px", class: "chk_radio" %>

        </div>
        <div align="right" class="col-md-1 numfieldsAnswers"></div>
        <div class="col-md-7 yes_no" style="padding-left:0px">
            <%#= f.label :content, "Yes"%>
            <%= f.text_field :content, class: "form-control", placeholder:"Enter answer", readonly: true , style:"margin: 0px 0 0 0px"%>
        </div>   
        <div class="col-md-1 idAnswer" >    
             <%= f.hidden_field :id ,class:"form-control id_"  %> <!--DO NOT REMOVE IMPORTANT WHEN ELIMINATED -->
        </div>
    </div>
</div>
<style type="text/css">

.numfieldsAnswers {
  reset-counter: ida;
}

.fieldsAnswers {
  counter-increment: ida;
}

.numfieldsAnswers:before {
  content: counter(ida) ":";
}
</style>