<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="assets/images/required/ico/favicon.ico">
	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/required/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/required/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/required/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="assets/images/required/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="assets/images/required/ico/favicon.png">

	<title>Circloid - Responsive HTML Admin Template</title>

	<!-- Required CSS Files -->
	<link type="text/css" href="assets/css/required/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link type="text/css" href="assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.css" rel="stylesheet" />
	<link type="text/css" href="assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.structure.min.css" rel="stylesheet" />
	<link type="text/css" href="assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.theme.min.css" rel="stylesheet" />
	<link type="text/css" href="assets/css/required/mCustomScrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
	<link type="text/css" href="assets/css/required/icheck/all.css" rel="stylesheet" />
	<link type="text/css" href="assets/fonts/metrize-icons/styles-metrize-icons.css" rel="stylesheet">

	<!-- Optional CSS Files -->
	<link type="text/css" href="assets/css/optional/bootstrapValidator.min.css" rel="stylesheet" />
	<!-- add CSS files here -->

	<!-- More Required CSS Files -->
	<link type="text/css" href="assets/css/styles-core.css" rel="stylesheet" />
	<link type="text/css" href="assets/css/styles-core-responsive.css" rel="stylesheet" />

	<!-- Demo CSS Files -->
	<link type="text/css" href="assets/css/demo-files/pages-signin-signup.css" rel="stylesheet" />

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="assets/js/required/misc/ie10-viewport-bug-workaround.js"></script>

	<!--[if IE 7]>
	<link type="text/css" href="assets/css/required/misc/style-ie7.css" rel="stylesheet">
	<script type="text/javascript" src="assets/fonts/lte-ie7.js"></script>
	<![endif]-->
	<!--[if IE 8]>
	<link type="text/css" href="assets/css/required/misc/style-ie8.css" rel="stylesheet">
	<![endif]-->
	<!--[if lte IE 8]>
	<script type="text/javascript" src="assets/css/required/misc/excanvas.min.js"></script>
	<![endif]-->
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="container-fluid">
		<div id="body-container">
			<div class="standalone-page registration-page">
				<div class="standalone-page-logo">
					<a href="index.html">
						<img src="assets/images/required/logo-ponder.png" width="250" height="62" alt="Logo" />
					</a>
				</div>
				<div class="standalone-page-top-border">
					<span class="border-block bg-color-green"></span>
					<span class="border-block bg-color-orange"></span>
					<span class="border-block bg-color-yellow"></span>
					<span class="border-block bg-color-blue"></span>
					<span class="border-block bg-color-red"></span>
					<span class="border-block bg-color-lime"></span>
					<span class="border-block bg-color-purple"></span>
				</div>
				<div class="standalone-page-block">
					<div class="row">
						<div class="col-xs-12">
							<h2 class="heading">
								<span aria-hidden="true" class="icon icon-user"></span>
								<span class="main-text">
									Create A New Account
								</span>
							</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<%= form_for :user do |f| %>
							<!-- <form role="form" class="registration-form form-horizontal" method="post" action="index.html"> -->
								<div class="form-group">
									<%= f.label :primer_nombre, class: "col-sm-3 control-label" %>
									<div class="col-sm-9">
										<%= f.text_field :primer_nombre, class: "form_control", placeholder: "Primer nombre..." %>
									</div>
								</div>
								<div class="form-group">
									<%= f.label :segundo_nombre, class: "col-sm-3 control-label" %>
									<div class="col-sm-9">
										<%= f.text_field :segundo_nombre, class: "form_control", placeholder: "Segundo nombre..." %>
									</div>
								</div>
								<div class="form-group">
									<%= f.label :primer_apellido, class: "col-sm-3 control-label" %>
									<div class="col-sm-9">
										<%= f.text_field :primer_apellido, class: "form_control", placeholder: "Primer apellido..." %>
									</div>
								</div>
								<div class="form-group">
									<label for="inputPasswordConfirm" class="col-sm-3 control-label">Confirm Password</label>
									<div class="col-sm-9">
										<%= f.text_field :segundo_apellido, class: "form_control" %>
										<!-- <input autocomplete="off" class="form-control" id="inputPasswordConfirm" placeholder="Confirm Password" type="password" name="passwordConfirm"> -->
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<button type="submit" class="btn btn-success">Create Account</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="change-section">
								<h3 class="heading">Already Have An Account?</h3>
								<a href="pages-signin-1.html" class="btn btn-default btn-block">Sign In</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /.container -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- Required JS Files -->
	<script type="text/javascript" src="assets/js/required/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
	<script type="text/javascript" src="assets/js/required/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/required/jquery.easing.1.3-min.js"></script>
	<script type="text/javascript" src="assets/js/required/jquery.mCustomScrollbar.min.js"></script>
	<script type="text/javascript" src="assets/js/required/misc/jquery.mousewheel-3.0.6.min.js"></script>
	<script type="text/javascript" src="assets/js/required/misc/retina.min.js"></script>
	<script type="text/javascript" src="assets/js/required/icheck.min.js"></script>
	<script type="text/javascript" src="assets/js/required/misc/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="assets/js/required/circloid-functions.js"></script>

	<!-- Optional JS Files -->
	<script type="text/javascript" src="assets/js/optional/bootstrapValidator.min.js"></script>
	<!-- add optional JS plugin files here -->

	<!-- REQUIRED: User Editable JS Files -->
	<script type="text/javascript" src="assets/js/script.js"></script>
	<!-- add additional User Editable files here -->

	<!-- Demo JS Files -->
	<script type="text/javascript" src="assets/js/demo-files/pages-signup.js"></script>
</body>
</html>
