	<div class="container-fluid">
		<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%55 -->
		<div id="body-container">
			<div id="left-column" class=""> <!-- NOTE TO READER: Accepts the following class(es) "menu-icon-only", "fixed" class -->
				<div id="mainnav">
					<ul class="mainnav" style="position: relative;"> <!-- NOTE TO READER: Accepts the following class(es) "animate" class -->
						<li class="menu-item-top">
							<a href="index.html" class="top">
								<span class="main-menu-icon">
									<span aria-hidden="true" class="icon icon-grid-big"></span>
								</span>
								<span class="main-menu-text">Dashboard</span>
							</a>
						</li>
						<li class="menu-item-top">
							<a href="#" class="top">
								<span class="main-menu-icon">
									<span aria-hidden="true" class="icon icon-star"></span>
								</span>
								<span class="main-menu-text">UI Kits</span>
							</a>
							<ul>
								<li><a href="ui-blocks.html">Blocks</a></li>
								<li><a href="ui-panels-wells.html">Panels &amp; Wells</a></li>
								<li><a href="ui-buttons.html">Buttons</a></li>
								<li><a href="ui-widgets.html">Widgets</a></li>
								<li><a href="ui-charts.html">Charts</a></li>
								<li><a href="ui-icons.html">Icons</a></li>
								<li><a href="ui-typography.html">Typography</a></li>
								<li><a href="ui-tabs-accordions.html">Tabs &amp; Accordions</a></li>
								<li><a href="ui-tooltips-popover.html">Tooltips &amp; Popover</a></li>
								<li><a href="ui-modal.html">Modal</a></li>
								<li><a href="ui-bootstrap-others.html">Other Bootstrap Elements</a></li>
								<li><a href="ui-notification-toastr.html">Notifications (Toastr)</a></li>
								<li><a href="ui-grid-layout.html">Grid Layout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div id="right-column">
				<div class="right-column-content">
					<div class="row">
						<div class="col-sm-12">
							<ol class="breadcrumb">
								<li>
									<a href="index.html">Home</a>
								</li>
								<li>
									<a href="pages-profile.html">Pages</a>
								</li>
								<li class="active">
									<a href="pages-profile.html">Profile</a>
								</li>
							</ol>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h1>
								<span aria-hidden="true" class="icon icon-documents"></span>
								<span class="main-text">
									Profile
								</span>
							</h1>
						</div>
						<div class="col-md-6">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<form id="formUser" role="form" class="edit_user fv-form fv-form-bootstrap" data-locale="en" enctype="multipart/form-data" action="/en/admin/users" accept-charset="UTF-8" data-remote="true" method="post" novalidate="novalidate"><button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch">
								<div class="block">
									<div class="profile-header-feature-image">
										<div class="row">
											<div class="col-sm-3 col-sm-offset-9">
												<div class="profile-info" style="margin-top: -170px">
													<!-- <div class="main-profile-pic">
														<input type="file" name="user[avatar]" id="user_avatar">
														<a href="#" id="upload_link" class="target">
															<img width="190" height="190" class="img-responsive list-thumbnail-normal" src="/images/medium/missing.png" alt="Missing">
														</a>
													</div> -->
													<div class="main-profile-pic">
														<a href="#">
															<img class="img-responsive list-thumbnail-normal" width="190" height="190" src="http://placehold.it/246x246" alt="">
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="block-content-outer">
										<div class="block-content-inner">
											<ul id="default-tabs-alt-1" class="nav nav-tabs tabs-alt-1">
												<li class="active"><a href="#default-tabs-new-alt-1" data-toggle="tab">Oscar Abrego</a></li>
												<li id="org_position"><a href="#default-tabs-org_position-alt-1" data-toggle="tab"><span class="translation_missing" title="translation missing: en.views_user.org_position">Org Position</span></a></li>
											</ul>
											<div class="tab-content">
												<div id="default-tabs-new-alt-1" class="tab-pane active">
													<div style="padding: 0px 40px 40px 40px">
														<div class="row">
															<div class="col-md-6">
																<div class="form-group has-feedback">
																	<label class="control-label" for="user_first_name">First name (*)</label>
																	<input class="form-control" required="required" type="text" value="Oscar" name="user[first_name]" id="user_first_name" data-fv-field="user[first_name]"><i class="form-control-feedback" data-fv-icon-for="user[first_name]" style="display: none;"></i>
																	<small class="help-block" data-fv-validator="notEmpty" data-fv-for="user[first_name]" data-fv-result="NOT_VALIDATED" style="display: none;">The first name is required and cannot be empty</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="user[first_name]" data-fv-result="NOT_VALIDATED" style="display: none;">The first name must be more than 2</small>
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label" for="user_middle_name">Middle name</label>
																	<input class="form-control" type="text" value="" name="user[middle_name]" id="user_middle_name">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group has-feedback">
																	<label class="control-label" for="user_last_name">Last name (*)</label>
																	<input class="form-control" required="required" type="text" value="Abrego" name="user[last_name]" id="user_last_name" data-fv-field="user[last_name]"><i class="form-control-feedback" data-fv-icon-for="user[last_name]" style="display: none;"></i>
																	<small class="help-block" data-fv-validator="notEmpty" data-fv-for="user[last_name]" data-fv-result="NOT_VALIDATED" style="display: none;">The last name is required and cannot be empty</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="user[last_name]" data-fv-result="NOT_VALIDATED" style="display: none;">The last name must be more than 2</small>
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label" for="user_second_last_name">Second last name</label>
																	<input class="form-control" type="text" value="" name="user[second_last_name]" id="user_second_last_name">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label" for="user_email">Email (*)</label>
																	<p>
																		<strong style="margin-left: 12px;">oscar.abrego@ixanaui.com</strong>
																	</p>
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label" for="user_company_id">Company (*)</label>
																	<p>
																		<strong style="margin-left: 12px;">ixanaui</strong>
																	</p></div>
																</div>
															</div>
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label" for="user_users_roles_attributes_0_role_id">Role (*)</label>
																		<p>
																			<strong style="margin-left: 12px;">Administrator</strong>
																		</p>
																	</div>
																</div>
																<input type="hidden" value="3" name="user[users_roles_attributes][0][status_entity_id]" id="user_users_roles_attributes_0_status_entity_id">
																<input type="hidden" value="53" name="user[users_roles_attributes][0][id]" id="user_users_roles_attributes_0_id">										<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label" for="user_status_entity_id">Avalable Indicator (*)</label>
																		<p>
																			<strong style="margin-left: 12px;">Yes</strong>
																		</p>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group has-feedback">
																		<label class="control-label" for="user_password">Password (*)</label>
																		<input class="form-control" type="password" name="user[password]" id="user_password" data-fv-field="user[password]"><i class="form-control-feedback" data-fv-icon-for="user[password]" style="display: none;"></i>
																		<small class="help-block" data-fv-validator="notEmpty" data-fv-for="user[password]" data-fv-result="NOT_VALIDATED" style="display: none;">The password is required and cannot be empty</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="user[password]" data-fv-result="NOT_VALIDATED" style="display: none;">The password must be more than 8</small>
																	</div>
																</div>
																<div class="col-md-6">
																	<div class="form-group has-feedback">
																		<label class="control-label" for="user_password_confirmation">Password confirmation (*)</label>
																		<input class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation" data-fv-field="user[password_confirmation]"><i class="form-control-feedback" data-fv-icon-for="user[password_confirmation]" style="display: none;"></i>
																		<small class="help-block" data-fv-validator="notEmpty" data-fv-for="user[password_confirmation]" data-fv-result="NOT_VALIDATED" style="display: none;">The confirm password is required and cannot be empty</small><small class="help-block" data-fv-validator="identical" data-fv-for="user[password_confirmation]" data-fv-result="NOT_VALIDATED" style="display: none;">The password and its confirm must be the same</small>
																	</div>
																</div>
															</div>
															<p></p>
															<input type="hidden" id="action" value="edit">
															<input type="hidden" id="profile" value="true">
															<div id="buttons" class="form-group has-feedback">
																<input required="required" type="hidden" value="53" name="user[id]" id="user_id" data-fv-field="user[id]"><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="user[id]" style="display: none;"></i>
																<button name="button" type="button" id="update" class="btn btn-primary">
																	<strong>Update</strong>
																</button>
																<button name="button" type="button" id="cancelProfile" class="btn btn-danger">
																	<strong>Cancel</strong>
																</button>
																<small class="help-block" data-fv-validator="notEmpty" data-fv-for="user[id]" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
															</div>
														</div>
													</div>
													<div id="default-tabs-org_position-alt-1" class="tab-pane">
														<div style="padding: 0px 40px 40px 40px">
															<div class="row">
																<div class="col-md-4">
																	<div class="/*panel panel-default*/">
																		<div class="row">
																			<div class="col-md-6">
																				<div class="form-group has-feedback">
																					<label class="control-label" for="user_report_to">Report to</label>
																					<p></p>
																					<strong style="margin-left: 12px;">
																						Admin Ixanaui
																					</strong>
																					<input type="hidden" name="user[report_to]" id="user_report_to" ,="" value="1" data-fv-field="user[report_to]"><i class="form-control-feedback" data-fv-icon-for="user[report_to]" style="display: none;"></i>
																					<small class="help-block" data-fv-validator="callback" data-fv-for="user[report_to]" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a valid value</small>
																				</div>
																				<div class="form-group">
																					<label class="control-label" for="user_job_title">Job title</label>
																					<p></p>
																					<strong style="margin-left: 12px;">Oscar</strong>
																				</div>
																			</div>
																			<div class="col-md-6">
																				<div class="form-group">
																					<label class="control-label" for="user_managed_by">Manage to</label>
																					<p></p>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-md-8">
																	<div class="/*panel panel-default*/">
																		<div id="tree-container" style="padding: 3% 20% 0% 0%"><svg width="750" height="200" class="overlay"><g transform="translate(100,-198)"><path class="link" d="M570,432C665,432 665,424 760,424"></path><path class="link" d="M570,432C665,432 665,440 760,440"></path><path class="link" d="M570,480C665,480 665,472 760,472"></path><path class="link" d="M570,480C665,480 665,488 760,488"></path><path class="link" d="M380,456C475,456 475,432 570,432"></path><path class="link" d="M380,456C475,456 475,480 570,480"></path><path class="link" d="M570,576C665,576 665,568 760,568"></path><path class="link" d="M570,576C665,576 665,584 760,584"></path><path class="link" d="M570,528C665,528 665,520 760,520"></path><path class="link" d="M570,528C665,528 665,536 760,536"></path><path class="link" d="M380,552C475,552 475,528 570,528"></path><path class="link" d="M380,552C475,552 475,576 570,576"></path><path class="link" d="M190,504C285,504 285,456 380,456"></path><path class="link" d="M190,504C285,504 285,552 380,552"></path><path class="link" d="M570,336C665,336 665,328 760,328"></path><path class="link" d="M570,336C665,336 665,344 760,344"></path><path class="link" d="M570,384C665,384 665,376 760,376"></path><path class="link" d="M570,384C665,384 665,392 760,392"></path><path class="link" d="M380,360C475,360 475,336 570,336"></path><path class="link" d="M380,360C475,360 475,384 570,384"></path><path class="link" d="M570,288C665,288 665,280 760,280"></path><path class="link" d="M570,288C665,288 665,296 760,296"></path><path class="link" d="M570,240C665,240 665,232 760,232"></path><path class="link" d="M570,240C665,240 665,248 760,248"></path><path class="link" d="M380,264C475,264 475,240 570,240"></path><path class="link" d="M380,264C475,264 475,288 570,288"></path><path class="link" d="M190,312C285,312 285,264 380,264"></path><path class="link" d="M190,312C285,312 285,360 380,360"></path><path class="link" d="M570,192C665,192 665,184 760,184"></path><path class="link" d="M570,192C665,192 665,200 760,200"></path><path class="link" d="M570,144C665,144 665,136 760,136"></path><path class="link" d="M570,144C665,144 665,152 760,152"></path><path class="link" d="M380,168C475,168 475,144 570,144"></path><path class="link" d="M380,168C475,168 475,192 570,192"></path><path class="link" d="M570,48C665,48 665,40 760,40"></path><path class="link" d="M570,48C665,48 665,56 760,56"></path><path class="link" d="M570,96C665,96 665,88 760,88"></path><path class="link" d="M570,96C665,96 665,104 760,104"></path><path class="link" d="M380,72C475,72 475,48 570,48"></path><path class="link" d="M380,72C475,72 475,96 570,96"></path><path class="link" d="M380,16C475,16 475,16 570,16"></path><path class="link" d="M190,92C285,92 285,16 380,16"></path><path class="link" d="M190,92C285,92 285,72 380,72"></path><path class="link" d="M190,92C285,92 285,168 380,168"></path><path class="link" d="M0,298C95,298 95,92 190,92"></path><path class="link" d="M0,298C95,298 95,312 190,312"></path><path class="link" d="M0,298C95,298 95,504 190,504"></path><g class="node" transform="translate(760,424)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Radcliff Boatwright</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,440)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Vince Barnet</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(570,432)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Mordikai Williamson</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,472)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Douglas Winchester</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,488)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Drogo Benton</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(570,480)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Morley Sawyer</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(380,456)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Fulk Botwright</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,584)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Ozzy Webb</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,568)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Colby Godfrey</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(570,576)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Marshall Wintom</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,536)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Cooper Tash</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,520)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Bentley Duke</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(570,528)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Lambert Peyton</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(380,552)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Marmaduke Haggard</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(190,504)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Wardell Rounds</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,344)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Millard Jack</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,328)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Brandon Sands</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(570,336)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Dwain Griffin</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,376)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Johnathon Overton</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,392)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Randy Savidge</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(570,384)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Wright Eaton</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(380,360)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Shel Buckely</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,280)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Herb Stern</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,296)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Zak Jefferson</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(570,288)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Cohen Dyer</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,248)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Lamont Harmon</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,232)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Crofton Paulson</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(570,240)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Anselm Allard</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(380,264)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">jimmy Courtenay</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(190,312)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Nathan Savidge</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,200)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Leslie Ready</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,184)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Carran Wood</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(570,192)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Jarred Carl</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,136)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Nash Dexter</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,152)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Thomas Tiffs</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(570,144)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Hamnet Seabrooke</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(380,168)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Kelly Sessions</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,40)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Cheyenne Lucas</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,56)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Donny Brook</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(570,48)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Alfie Hayes</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,88)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Prudence Ethans</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(760,104)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Stu Rake</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(570,96)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Dirk Aston</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(380,72)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Jhonny Samuels</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(570,16)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="10" dy=".35em" class="nodeText" text-anchor="start" style="fill-opacity: 1;">Oscar Abrego</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(380,16)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Admin Ixanaui</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(190,92)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Callahan Albertson</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g><g class="node" transform="translate(0,298)"><circle class="nodeCircle" r="4.5" style="fill: rgb(255, 255, 255);"></circle><text x="-10" dy=".35em" class="nodeText" text-anchor="end" style="fill-opacity: 1;">Garfield Donaldson</text><circle class="ghostCircle" r="30" opacity="0.2" pointer-events="mouseover" style="fill: red;"></circle></g></g></svg>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
