<!-- Modal small-modal -->
<div class="modal fade small-modal" id="small-modal" tabindex="-1" role="dialog" aria-labelledby="small-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" data-border-top="multi">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="small-modal-label"><%= t 'confirmation_message'%></h4>
            </div>
            <div class="modal-body">
            </div>
            <div  class="modal-footer">
               <%= link_to I18n.t('ok'), "#", class: "btn btn-primary", remote: true %>          
               <a href="#" data-dismiss="modal" class="btn btn-danger"><%= t 'cancel'%></a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal small-modal -->
<div class="modal fade small-modal" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="small-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" data-border-top="multi">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="small-modal-label"><%= t 'confirmation_message'%></h4>
            </div>
            <div class="modal-body">
            </div>
            <div  class="modal-footer">
                <%= button_tag(type: 'button', id: "removeQuestions", class: "btn btn-primary" ) do %>
                    <%= content_tag(:stro, I18n.t('ok')) %>                     
                <%end%>
                <%#= link_to '',   '', id:'', class: 'btn btn-primary' %>
                <%#= link_to 'Delete', something_path+'/pony', method: :delete, :class => 'btn btn-danger' %>
                <%#= link_to_remove_association("<span style='cursor:pointer' class='icon-cross icon-size-medium'></span>".html_safe, quest , class: '', id:'removeQuestions') %>

                <a href="#" data-dismiss="modal" class="btn btn-danger"><%= t 'cancel'%></a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
