
 least_conn;
 server unix:///home/deployer/development/ponder-on-demand-dev/shared/tmp/sockets/puma.sock fail_timeout=0;
}

server {
  listen 80;
  server_name ponder.ixaamerica.com;
  root /home/deployer/development/ponder-on-demand-dev/current/public;



<div class="modal fade" id="default-modal" tabindex="-1" role="dialog" aria-labelledby="default-modal-label" aria-hidden="true" data-backdrop="static">
  <%= simple_form_for resource, url: user_invitation_path(resource), remote: true, html: { method: :post} do |f| %>
  	<div class="modal-dialog">
  		<div class="modal-content" data-border-top="multi">
  			<div class="modal-header" style="padding-bottom: 0px">
  			  <div class="row">
  				  <div style="padding-left: 20px;" class="col-md-12">
  						<h2 style="color:#4596f1">
                <span aria-hidden="true" class="icon icon-air-plane icon-size-medium"></span>
                <span class="main-text">
                  Invite Team Members
                </span>
              </h2>           
            </div>
  				</div>
  				<div class="row">
  					<div style="padding-left: 20px;" class="col-md-12">			
  						Existing users are granted access to this repository immediately. New users will be sent an invitation.
  					</div>		
  		    </div>
  			</div>
  			<div class="modal-body">
          <div class="panel panel-default" style="margin-bottom: 20px">
            <div class="panel-heading">
              <div id="inputAdd" class="row" style="margin-bottom: -10px">
                <div class="col-md-10">
                  <div class="form-group">                       
        						<%#= devise_error_messages! %>
        						<%# resource.class.invite_key_fields.each do |field| -%>
        						<%= text_field_tag :user_email, "", class: "form-control" %>
        						<%# end -%>
        						<%#= f.hidden_field :status_entity_id, value: "1" %>
                  </div>
                </div>
                <div align="center" class="col-md-2">
                  <div class="form-group">
                    <%#= label_tag :email_invitation, "", class:"control-label" %>
                    <%= button_tag(type: 'button', class: "form-control add_li btn btn-default") do %>
                      Add
                    <%end%>
                  </div>
                </div>
              </div>
            </div>
            <div class="spinner" style="display: none">
              <%= image_tag("ajax-loader.gif") %>
            </div>
            <ul id="list_invitations" class="list-group"></ul>
          </div>
        </div>  
  			<div class="modal-footer">
  				<%= f.button :submit, "Send", disabled: true, id:"send_button", class: "btn btn-primary" %>  
  				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  			</div>
  		</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
  <% end %>
</div><!-- /.modal -->

<script type="text/javascript">
    var i18n = $('#body').attr('data-locale'); 

    $("#new_user")
    .bind("ajax:beforeSend", function(){
      $("#list_invitations li").remove();
      $("#inputAdd").hide();
      $(".spinner").toggle();
      $("#send_button").remove();
    }).bind("ajax:success", function(event, data, status, xhr) {
      $.each(data, function (key, val) {
        var check = val.valid ? "<p style='color:green'>Invitation successfully <span class='icon-check icon-size-small'></span></p>" : "<p style='color:red'>This person is already on your team. <span class='icon-cross icon-size-small'></span></p>";
          $('#list_invitations').
          append('<li class="list-group-item">'+
                  '<div class="row">'+
                     '<div style="padding-left: 30px" class="col-md-6">'+val.email+'</div>'+
                     '<div align="center" class="col-md-6">'+check+ 
                     '</div>'+
                  '</div>'+
                 '</li>');
      });        
    }).bind("ajax:complete", function(){
      $(".spinner").toggle();
    });

    $('.add_li').prop('disabled',true);
    $('#user_email').keyup(function(){
      $('.add_li').prop('disabled', this.value == "" ? true : false);     
    });
    $(document).off('click', ".add_li").on('click', ".add_li", function (e) {  

      var email  =  $("#user_email").val();
      var date   =  getDateTime();
      var verify =  false;
      
        if (validateEmail(email)) {
          $('#list_invitations > li').each(function() {
              var user = $(this).attr("data-id");
              if (user == email) {
                verify = true;
              }
          });
          if (!verify)
          { $('#user_email').val('');
            $('.add_li').prop('disabled',true);
            $('#list_invitations').append('<li class="list-group-item" data-id="'+email+'">'+
                                            '<div class="row">'+
                                                '<div style="padding-left: 30px" class="col-md-10">'+email+'</div>'+
                                                '<div align="center" class="col-md-2">'+
                                                    '<span style="cursor:pointer" class="remove_li icon-cross icon-size-small"></span>'+
                                                    '<input value="'+email+'" type="hidden" name="user[emails][]" id="user_email_[]">'+
                                                '</div>'+
                                            '</div>'+
                                          '</li>');
          }else{toastr.error( i18n == "en" ? 'You already add this person to the list. Select another.' : 'Ya se agrego la persona a la lista. Seleccione a otra persona.', 'Error!');}
        }else{toastr.error( i18n == "en" ? 'Email invalid inva.' : 'Email Invalid.', 'Error!');}
        $("#list_invitations li").length > 0 ? $("#send_button").prop("disabled", false) : $("#send_button").prop("disabled", true);

    });
    $(document).off('click', ".remove_li").on('click', ".remove_li", function (e) {        
      var li = $(this).closest('li');
      //li.fadeOut(400, function(){
          li.remove();
      //});
      console.log($("#list_invitations li").length);
      $("#list_invitations li").length > 0 ? $("#send_button").prop("disabled", false) : $("#send_button").prop("disabled", true);
    });
    function validateEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
    function getDateTime() {
      var now     = new Date(); 
      var year    = now.getFullYear();
      var month   = now.getMonth()+1; 
      var day     = now.getDate();
      var hour    = now.getHours();
      var minute  = now.getMinutes();
      var second  = now.getSeconds(); 
      if(month.toString().length == 1) {
          var month = '0'+month;
      }
      if(day.toString().length == 1) {
          var day = '0'+day;
      }   
      if(hour.toString().length == 1) {
          var hour = '0'+hour;
      }
      if(minute.toString().length == 1) {
          var minute = '0'+minute;
      }
      if(second.toString().length == 1) {
          var second = '0'+second;
      }   
      var dateTime = year+''+month+''+day+''+hour+''+minute+''+second;   
       return dateTime;
    }
</script>

<style type="text/css">
.modal-dialog {
  width: 650px;
}
</style>