<style type="text/css">
  
  .node {
    cursor: pointer;
  }

  /*.overlay{
      background-color:#EEE;
  }*/
   
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
   
  .node text {
    font-size:10px; 
    font-family:sans-serif;
  }
   
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }

</style>


<!-- Modal default-modal-->
<div class="modal fade default-modal" id="default-modal" tabindex="-1" role="dialog" aria-labelledby="default-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" data-border-top="multi">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="default-modal-label"><%= t 'org_tree'%></h4>
            </div>
                <div class="container-fluid" id="tree-container" style="padding: 0% 10% 0% 10%"></div>
            <div align="right" class="modal-footer">
                <button type="button" class="btn btn-default closeButton" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary <%=  params[:controller] == "admin/requests" ? params[:action] === "approval" ? 'add_user_approval' : 'add_user' : 'requests' %>" data-dismiss="modal" style="display:none">Aceptar</button>
        <input type="hidden" id="request_view" value=""></input>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<%= javascript_include_tag "d3.v3.min" %>  
<%= javascript_include_tag "dndTree" %>  