<%= form_for(@users_organization,  remote: true, :html => {class: "fv-form fv-form-bootstrap", id: "form_users_organization" }) do |f| %>
  
  <ul id="default-tabs-alt-1" class="nav nav-tabs tabs-alt-1">
    <li class="active"><a href="#default-tabs-new-alt-1" data-toggle="tab"><%=  params[:action] == "index" ? 'General information' : [@users_organization.user.first_name, @users_organization.user.last_name].join(' ')%></a></li>
    <li id="situation_organizational" style="/*display:none*/"><a href="#default-tabs-organization-alt-1" data-toggle="tab"><%= t 'views_user.org_position' %></a></li>
  </ul>
  <div class="tab-content">
    <div id="default-tabs-new-alt-1" class="tab-pane active">
      <%= f.fields_for :user do |ff| %>
        <div class="form-group">
          <%= ff.label :full_name, User.human_attribute_name(:full_name)+" (*)".html_safe, class:"control-label"%>
          <%= ff.text_field :full_name, class: "form-control", required: true, disabled: true%>
        </div>
        <div class="form-group">
          <%= ff.label :email, User.human_attribute_name(:email)+" (*)".html_safe, class:"control-label"%>
          <%= ff.text_field :email, class: "form-control", required: true, disabled: true%>
        </div>
      <% end %>
      <%= f.fields_for :organization do |fff| %>
        <div class="form-group">
          <%= fff.label :name, Organization.human_attribute_name(:name)+" (*)".html_safe, class:"control-label"%>
          <%= fff.text_field :name, class: "form-control", required: true, disabled: true%>
        </div>
      <% end %> 
      <%= f.fields_for :users_organizations_role do |q| %>
        <div class="form-group">
          <%= q.label :role_id, Organization.human_attribute_name(:role)+" (*)".html_safe, class:"control-label"%>
          <%= q.select( :role_id, options_for_select( Role.all.collect {|p| [p.name, p.id] }, @users_organizations_role.role_id ), {prompt:''}, { class: 'form-control chosen-select' , disabled: true })%>  
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :status_entity_id, Organization.human_attribute_name(:status_entity_id)+" (*)".html_safe, class:"control-label"%><p>
        <%= f.check_box(:status_entity_id, @users_organization.id.nil? ? {class: 'js-switch', disabled: true, checked: true } : {class: 'js-switch'}, @availableActive[0].id, @availableInactive[0].id) %> 
      </div>
    </div>
    <div id="default-tabs-organization-alt-1" class="tab-pane">
      <div class="form-group">
        <%= f.label  :users_organization_id, User.human_attribute_name(:users_organization_id), class: "control-label"%>
        <%= f.select(:users_organization_id, options_for_select( UsersOrganization.by_organiz(UsersOrganization.current.organization_id).collect {|p| [p.full_name, p.id] }, @users_organization.users_organization_id), {include_blank: ''}, { class: 'form-control' })%>
      </div>
      <div class="form-group">
        <%= f.label "managed_by", User.human_attribute_name(:users_organization_id), class: "control-label"%><p>
        <%= f.text_field "managed_by", class: "form-control input-tags-2", disabled: true, :data => {role: '' }, value:"#{@data_json}" %>
          <input type="hidden" class="tags" value="<%= @data_json %>" >         
      </div>
      <div class="form-group">
        <%= f.label :job_title, User.human_attribute_name(:job_title)+" (*)".html_safe, class: "control-label"%><p>
        <%= f.text_field :job_title, class: "form-control", required: true, disabled: true %>
      </div>
      <%= link_to "Org Tree", "", data: { toggle: "modal", target: "#default-modal" } %>
    </div>
  </div>
    <p>
    <input type="hidden" id="action" value="<%= params[:action] %>">
    <!-- Workaround to avoid corrupted XHR2 request body in IE10 / IE11 -->
    <input type="hidden" name="_dontcare">
    <div id="buttons" class="form-group" style="display: none">
        <% unless @users_organization.id.nil? %>
            <%= f.hidden_field :id %>
        <%= button_tag(type: 'button', id: "updateConfirm", class: "btn btn-primary" ) do %>
              <%= content_tag(:strong, 'Update') %>                     
          <%end%>   
      <% end %>
        <%= button_tag(type: 'button', id: "cancelConfirm", class: "btn btn-danger" ) do %>
              <%= content_tag(:strong, 'Cancel') %>                     
          <%end%>
    </div>
<% end %>