<div class="row">
  <div class="col-md-12">
    <h1>
      <span aria-hidden="true" class="icon icon-documents"></span>
      <span class="main-text">
        <%= t('views_user_organization.title')%>
      </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-sm-8">
    <div class="block block-size-large">
      <div class="block-content-outer">
        <div class="block-content-inner">
          <div class="table-responsive">
            <table id="users_organizations-data" class="table table-striped table-hover" data-source="<%= users_organizations_datatable_index_path(format: "json") %>" >
              <thead title="Haga clic para ordenar por esta columna.">
                <tr>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= User.human_attribute_name(:full_name)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= User.human_attribute_name(:email)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= User.human_attribute_name(:role)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= User.human_attribute_name(:status_entity_id)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= User.human_attribute_name(:actions)%></h5></th>
                </tr>
              </thead>
              <tbody align="center">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="block block-size-large">
      <div class="block-content-outer">
        <div class="block-content-inner" style="padding: 0px 5px 0px 5px;">
          <%= render partial: "form" %>
        </div>
      </div>
    </div>
  </div>
</div>

<input id="modal_update" type="hidden" value="<%= I18n.t('views_user_organization.modals.update') %>"></input>
<input id="modal_delete" type="hidden" value="<%= I18n.t('views_user_organization.modals.delete') %>"></input>
<input id="modal_cancel" type="hidden" value="<%= I18n.t('views_user_organization.modals.cancel') %>"></input>
<%= render 'layouts/modal/org_tree_modal' %>

<script type="text/javascript">
  $('#modal-holder').append('<%= render "layouts/confirmation_modal" %>');
  $('#default-modal').appendTo("body"); 
$('[data-target="default-modal"]').on('click', function(e) {
      e.preventDefault();
      $('#default-modal').modal('show');
      /*var message = $('#modal_save').val();
      $('.modal-body').empty();
      $('.modal-body').append(message);*/
});

</script>
<%= javascript_include_tag "users_organizations"%>