	  <div class="standalone-page">
    <div class="standalone-page-logo">
      <a href="#">
        <%= image_tag("required/logoOut.png", width: "380", height: "196" ) %>
      </a>
    </div>
    <div class="standalone-page-content" data-border-top="multi">
      <div class="standalone-page-block">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="heading">
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <%= form_for(resource, url: user_session_path, :html => {id:'formSession', class:'login-form form-horizontal', role: 'form' }) do |f| %>

              <div class="form-group">
                <%= f.label :email, User.human_attribute_name(:email).html_safe, class:"col-sm-3 control-label"%>
                <div class="col-sm-9">
                  <%= f.text_field :email, class: "form-control", autocomplete: "off", placeholder: true %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :password, User.human_attribute_name(:password).html_safe, class:"col-sm-3 control-label"%>
                <div class="col-sm-9">
                  <%= f.password_field :password, class: "form-control", placeholder: true %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <div class="checkbox">
                    <% if devise_mapping.rememberable? -%>
                      <label class="checkbox">
                        <%= f.check_box :remember_me %> <%= t 'sign_in.form.remember_me' %>
                      </label>
                    <% end %>
                    <!-- Workaround to avoid corrupted XHR2 request body in IE10 / IE11 -->
                    <input type="hidden" name="_dontcare">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <%= f.submit t('sign_in.form.submit'), class: "btn btn-success signin-btn", disabled: true, data: { disable_with: "Please wait..." } %>
                  <%= link_to t('sign_in.form.forgot_password'), new_user_password_path , class: "btn btn-link btn-sm pull-right" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row">
			<div class="col-xs-12">
				<div class="change-section">
				  <h3 class="heading"><%= t 'sign_in.container.not_registered' %></h3>
                  <%= link_to t('sign_in.container.new_account'), new_user_registration_path ,class: "btn btn-default btn-block" %>
				</div>
			</div>
		</div>
      </div>
    </div>
  </div>


<style type="text/css">
/**
 * Pages Signin (Type 1), Signup
 */
/* Sign In, Forgot Password, Register Pages */
.standalone-page {
  margin: 100px auto 20px;
  max-width: 380px;
}
.standalone-page.registration-page {
  margin: 46px auto 20px;
}
.standalone-page .standalone-page-logo {
  text-align: center;
}
</style>
