<div class="row">
  <div class="col-md-12">
    <h1>
      <span aria-hidden="true" class="icon icon-documents"></span>
      <span class="main-text">
        <%= t 'views_type_entity.title'%>
      </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-sm-8">
    <div class="block block-size-large">
      <div class="block-content-outer">
        <div class="block-content-inner">
          <div class="table-responsive">
            <table id="type-entities-data" class="table table-striped table-hover" data-source="<%= type_entities_datatable_index_path(format: "json") %>" >
              <thead title="Haga clic para ordenar por esta columna.">
                <tr>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= TypeEntity.human_attribute_name(:name)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= TypeEntity.human_attribute_name(:sort_name)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= TypeEntity.human_attribute_name(:class_name)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= TypeEntity.human_attribute_name(:status_entity_id)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= TypeEntity.human_attribute_name(:actions)%></h5></th>
                </tr>
              </thead>
              <tbody align="center">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="block block-size-large">
      <div class="block-content-outer">
        <div class="block-content-inner" style="padding: 0px 5px 0px 5px;">
          <%= render partial: "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
<input id="modal_save"   type="hidden" value="<%= I18n.t('views_type_entity.modals.save')  %>"></input>
<input id="modal_update" type="hidden" value="<%= I18n.t('views_type_entity.modals.update') %>"></input>
<input id="modal_delete" type="hidden" value="<%= I18n.t('views_type_entity.modals.delete') %>"></input>
<input id="modal_cancel" type="hidden" value="<%= I18n.t('views_type_entity.modals.cancel') %>"></input>
<input id="modal_change" type="hidden" value="<%= I18n.t('views_type_entity.modals.change') %>"></input>

<script type="text/javascript">
$('#modal-holder').append('<%= render 'layouts/confirmation_modal' %>');

var elem = document.querySelector(".js-switch");
var init = new Switchery(elem);

if ($('#action').val() == 'index') {
  $('#type_entity_status_entity_id').trigger('click');
  init.disable();
};

$("#type-entities-data").DataTable({
    "processing": true,
    "serverSide": true,
    "ajax": $('#type-entities-data').data('source'),
    "pagingType": 'simple_numbers',
    /*autoWidth: false,*/
    "bLengthChange": false,
    "iDisplayLength": 8, // Number of rows to display on a single page when using pagination.
    //"order": [[ 0, "desc" ]],
    /*columnDefs: [
       { orderable: false, targets: -1 }
    ]*/
    "columns": [
      {"data": "name"},
      {"data": "sort_name"},
      {"data": "class_name"},
      {"data": "status"},
      {"data": "actions", orderable: false }
    ]
});

// -------------------- Modal activators ----------------------------

$(document).on("click", ".deleteConfirm", function(a){
  a.preventDefault();
  $('#small-modal').find('.btn-primary').attr('id','delete');
  $('#small-modal').attr('data-id', $(this).data("id"));
  var text =  $('#modal_delete').val();
  $('.modal-body').empty();
  $('.modal-body').append(text);
  $('#small-modal').modal('show');
});


$(document).on('click','#cancelConfirm', function(a){
  a.preventDefault();
  $('#small-modal').find('.btn-primary').attr('id','cancel');
  var text =  $('#modal_cancel').val();
  $('.modal-body').empty();
  $('.modal-body').append(text);
  $('#small-modal').modal('show');
});

$(document).on('click','#saveConfirm', function(a){
  if ($('#form_type_entity').data("formValidation").validate().isValid()) {
    a.preventDefault();
    $('#small-modal').find('.btn-primary').attr('id','save');
    var text =  $('#modal_save').val();
    $('.modal-body').empty();
    $('.modal-body').append(text);
    $('#small-modal').modal('show');
  }
});

$(document).on("click", ".edit", function(){
  var a = $(this).attr("data-id");
  Turbolinks.visit("/type_entities/" + a + "/edit");
});
$(document).on('click','#updateConfirm', function(a){
  if ($('#form_type_entity').data("formValidation").validate().isValid()) {
    a.preventDefault();
    $('#small-modal').find('.btn-primary').attr('id','update');
    var text =  $('#modal_update').val();
    $('.modal-body').empty();
    $('.modal-body').append(text);
    $('#small-modal').modal('show');
  }
});

// -------------------- Modal actions ----------------------------

$(document).on('click','#delete', function(){
  var a = new FormData($("#form_type_entity")[0]);
  var e = $('#small-modal').attr("data-id");
  $.ajax({
    url: "/type_entities/" + e,
    type: "DELETE",
    data: a,
    cache: false,
    processData: false,
    contenttype: false,
    beforeSend: function(){
      $('#small-modal').modal('hide');
    },
    success: function(){
      if ($('#type_entity_id').length && $('#type_entity_id').val() == e) {
        Turbolinks.visit("<%= type_entities_path %>");
      } else {
        $('#type-entities-data').DataTable().ajax.reload();
      }
    }
  });
});

$(document).on('click','#cancel', function(){
  if ($('#type_entity_id').length) {
    Turbolinks.visit("<%= type_entities_path %>");
  } else {
    disable_form();
    $('#small-modal').modal('hide');
  }
});

$(document).on('click','#save', function(e){
  $("#form_type_entity").trigger('submit.rails');
  disable_form();
  $('#small-modal').modal('hide');
  $('#type-entities-data').DataTable().ajax.reload();
  e.stopImmediatePropagation();

  // var a = new FormData($("#form_type_entity")[0]);
  // // alert(a);
  // alert('<#%= type_entities_path %>')
  // $.ajax({
  //   url: "<#%= type_entities_path %>",
  //   type: "POST",
  //   data: a,
  //   dataType: "JSON",
  //   cache: false,
  //   processData: false,
  //   contenttype: false,
  //   beforeSend: function(){
  //     $('#small-modal').modal('hide');
  //   },
  //   success: function(){
  //     alert('Success');
  //     $('#type-entities-data').DataTable().ajax.reload();
  //     disable_form();
  //   }
  // });
  // alert("Finished ajax call");
});

$(document).on('click','#update', function(e){
  $("#form_type_entity").trigger('submit.rails');
  $('#small-modal').modal('hide');
  Turbolinks.visit("<%= type_entities_path %>");
  e.stopImmediatePropagation();

  // var a = $('#type_entity_id').val();
  // var e = new FormData($("#form_type_entity")[0]);
  // $.ajax({
  //   url: "/type_entities/" + a,
  //   type: "PUT",
  //   data: e,
  //   dataType: "JSON",
  //   cache: false,
  //   processData: false,
  //   contenttype: false,
  //   beforeSend: function(){
  //     $('#small-modal').modal('hide');
  //   },
  //   success: function(){
  //     Turbolinks.visit("<#%= type_entities_path %>");
  //   }
  // });
  // alert("Finished ajax call");
});

// -------------------- Others ----------------------------

$(document).on('click','#button_new', function(){
  $('#button_new').css("display", "none");
  $('#buttons').css("display", "block");
  $('#form_type_entity :input').removeAttr('disabled');
  init.enable();
});

function disable_form (){
  $('#form_type_entity')[0].reset();
  $('.form-group').removeClass('has-error has-success');
  $('.form-control-feedback').removeClass('icon icon-check icon-cross icon-refresh');
  $('#form_type_entity :input').attr('disabled','disabled');
  $('#form_type_entity .help-block').css('display','none');
  $('#button_new').css("display", "block");
  $('#buttons').css("display", "none");
  init.disable();
};

if ($('#action').val() == 'edit') {
  $('#button_new').css("display", "none");
  $('#buttons').css("display", "block");
  $('#form_type_entity :input').removeAttr('disabled');
  $('#saveConfirm').attr('id','updateConfirm');
  $('#updateConfirm').empty();
  var text = '<strong><%= t('views_type_entity.form.update') %></strong>';
  $('#updateConfirm').append(text);
  init.enable();
};

$("#form_type_entity").formValidation({
    framework: "bootstrap",
    icon: {
        valid: 'icon icon-check',
        invalid: 'icon icon-cross',
        validating: 'icon icon-refresh'
    },
    excluded: ":disabled",
    fields: {
        "type_entity[name]": {
            validators: {
                notEmpty: {
                    message: "The name is required and cannot be empty"
                }
            }
        },
        "type_entity[sort_name]": {
            validators: {
                notEmpty: {
                    message: "The sort name is required and cannot be empty"
                },
                stringLength: {
                    max: 6,
                    message: 'The sort name must be less than 6 characters long'
                }
            }
        },
        "type_entity[class_name]": {
            validators: {
                notEmpty: {
                    message: "The class name is required and cannot be empty"
                }
            }
        },
        "type_entity[description]": {
            validators: {
                notEmpty: {
                    message: "The description is required and cannot be empty"
                }
            }
        }
    }
})
</script>
