<%= form_for(@currency, remote: true, :html => {class: "fv-form fv-form-bootstrap", id: "formCurrency" }) do |f| %>
    <div class="form-group">
        <%= f.label :name, Currency.human_attribute_name(:name)+" (*)".html_safe, class:"control-label"%>
        <%= f.text_field :name, class: "form-control", required: true, disabled: true%>
    </div>
    <div class="form-group">
        <%= f.label :sort_name, Currency.human_attribute_name(:sort_name)+" (*)".html_safe, class:"control-label"%>
        <%= f.text_field :sort_name, class: "form-control", required: true, disabled: true%>
    </div>
    <div class="form-group">
        <%= f.label :symbol, Currency.human_attribute_name(:symbol)+" (*)".html_safe, class:"control-label"%>
        <%= f.text_field :symbol, class: "form-control", required: true, disabled: true%>
    </div>
    <div class="form-group">
        <%= f.label :country_ids, Currency.human_attribute_name(:country_id)+" (*)".html_safe, class:"control-label"%><br />
        <%= f.select :country_ids, Country.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, class: 'form-control chosen-select', disabled: true %>
    </div>
    <div class="form-group">
        <%= f.label :status_entity_id, Currency.human_attribute_name(:status_entity_id)+" (*)".html_safe, class:"control-label"%><p>
        <%= f.check_box(:status_entity_id, @currency.id.nil? ? {class: 'js-switch', disabled: true, checked: true } : {class: 'js-switch', disabled: true }, @avalableActive[0].id, @avalableInactive[0].id) %> 
    </div>
    </p>
    <% if params[:action] == "index" %>
        <div class="form-group" id="button_new">
            <%= button_tag(type: 'button', id: "new", class: "btn btn-primary" ) do %>
                <%= content_tag(:strong, "New") %>                     
            <%end%>     
        </div>
    <% end %>
    <input type="hidden" id="action" value="<%= params[:action] %>">
    <!-- Workaround to avoid corrupted XHR2 request body in IE10 / IE11 -->
    <input type="hidden" name="_dontcare">
    <div id="buttons" class="form-group" style="display: none">
        <% unless @currency.id.nil? %>
            <%= f.hidden_field :id %>
            <%= button_tag(type: 'button', id: "updateConfirm", class: "btn btn-primary" ) do %>
                <%= content_tag(:strong, "Update") %>                
            <%end%>   
        <% else %>
            <%= button_tag(type: 'button', id: "saveConfirm", class: "btn btn-primary" ) do %>
                <%= content_tag(:strong, "Save") %>                     
            <%end%>
        <% end %>
            <%= button_tag(type: 'button', id: "cancelConfirm", class: "btn btn-danger" ) do %>
                <%= content_tag(:strong, "Cancel") %>                     
            <%end%>
    </div>
<% end %>