<div class="row">
  <div class="col-md-12">
    <h1>
      <span aria-hidden="true" class="icon icon-documents"></span>
      <span class="main-text">
        Currencies<%#= t 'views_currency.title' %>
      </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-sm-8">
    <div class="block block-size-large">
      <div class="block-content-outer">
          <div class="block-content-inner">
          <div class="table-responsive">          
            <table id="currencies" class="table table-striped table-hover" data-source="<%= currencies_datatable_index_path(format: "json") %>" >
                <thead title="Haga clic para ordenar por esta columna.">
                    <tr>
                      <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%=Currency.human_attribute_name(:name)%></h5></th> 
                      <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%=Currency.human_attribute_name(:sort_name)%></h5></th>   
                      <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%=Currency.human_attribute_name(:symbol)%></h5></th>
                      <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%=Currency.human_attribute_name(:symbol)%></h5></th>
                      <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%=Currency.human_attribute_name(:actions)%></h5></th>
                    </tr>
                </thead>
                <tbody align="center">
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="block block-size-large">
      <div class="block-content-outer">
          <div class="block-content-inner" style="padding: 0px 5px 0px 5px;">
          <%= render partial: "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
<input id="modal_save"   type="hidden" value="<%= I18n.t('views_currency.modals.save') %>"></input>
<input id="modal_update" type="hidden" value="<%= I18n.t('views_currency.modals.update') %>"></input>
<input id="modal_delete" type="hidden" value="<%= I18n.t('views_currency.modals.delete') %>"></input>
<input id="modal_cancel" type="hidden" value="<%= I18n.t('views_currency.modals.cancel') %>"></input>
<input id="modal_change" type="hidden" value="<%= I18n.t('views_currency.modals.change') %>"></input>
<%= render 'layouts/modal/confirmation_modal' %>
<%= javascript_include_tag "currencies"%>