<% if @success == true  %>
    $('#currencies').DataTable().ajax.reload();
    //Turbolinks.visit("<%= users_organizations_path %>");
<% end %>
  $("#small-modal").modal("hide")
  $("#flash").html('<%= j render partial: "shared/messages" %>');