<%= form_for(@user,  remote: true, :html => { method: :post, class: "new_user fv-form fv-form-bootstrap", id: "form_user_catalogue", novalidate: "novalidate"}) do |f| %>

  <!-- <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button> -->
  <!-- <input name="utf8" type="hidden" value="✓"> -->
  <ul id="default-tabs-alt-1" class="nav nav-tabs tabs-alt-1">
    <li class="active"><a href="#default-tabs-new-alt-1" data-toggle="tab"><%= t('user.form.tab_new') %></a></li>
    <li id="org_position"><a href="#default-tabs-org_position-alt-1" data-toggle="tab"><%= t('user.form.tab_new') %></a></li>
  </ul>

  <div class="tab-content">
      <!-- First tab -->
      <div style="padding: 20px 0px 0px 0px" class="tab-pane active" id="basic-tab">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :first_name, "First name (*)".html_safe, class:"control-label" %>
              <%= f.text_field :first_name, class: "form-control",  placeholder: "First name" ,required: true , disabled: "disabled"%>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :middle_name, "Middle name".html_safe, class:"control-label" %>
              <%= f.text_field :middle_name, class: "form-control", placeholder: "Middle name", disabled: "disabled" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :last_name, "Last name (*)".html_safe, class:"control-label" %>
              <%= f.text_field :last_name, class: "form-control", placeholder: "Last name", required: true , disabled: "disabled"%>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :second_last_name, "Second last name".html_safe, class:"control-label" %>
              <%= f.text_field :second_last_name, placeholder: "Second last name", class: "form-control", disabled: "disabled" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :email, "Email (*)".html_safe, class:"control-label" %>
              <%= f.text_field :email, class: "form-control", placeholder: "Email", required: true , disabled: "disabled"%>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group has-feedback">
              <%= f.label :status_entity_id, User.human_attribute_name(:status_entity_id) + " (*)".html_safe, class: "control-label" %><br>
              <%= f.check_box :status_entity_id, {id: "role_status_entity_id",  class: "js-switch", data: {switchery: "true"}, style: "display: none;" }, @availableActive[0].id, @availableInactive[0].id %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :password, "Password (*)".html_safe, class:"control-label" %>
              <%= f.password_field :password, class: "form-control", placeholder: "Enter password", required: true , disabled: "disabled"%>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :password_confirmation, "Password confirmation (*)".html_safe, class:"control-label" %>
              <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter password again", required: true , disabled: "disabled"%>
            </div>
          </div>
        </div>
        <%= f.hidden_field :status_entity_id, class: "form-control", value:'1' , disabled: "disabled"%>
        <%= f.hidden_field :status, class: "form-control", value:'1', disabled: "disabled" %>
      </div>
      <!-- Second tab -->
      <div style="padding: 20px 0px 0px 0px" class="tab-pane" id="database-tab">
      </div>
  </div>
  <p>
  </p>
  <div class="form-group" id="button_new">
    <div id="" class="btn btn-primary">
      <strong>New</strong>
    </div>
  </div>

  <input type="hidden" id="action" value="index">
  <input type="hidden" name="_dontcare">
<!-- Workaround to avoid corrupted XHR2 request body in IE10 / IE11 -->
  <div id="buttons" class="form-group" style="display: none">
    <%= button_tag(name: "button", type:"button",id: "saveConfirm", class: "btn btn-primary") do %>
      <strong>Save</strong>
    <%end%>
    <%= button_tag(name: "button", type:"button",id: "cancelConfirm", class: "btn btn-danger") do %>
      <strong>Cancel</strong>
    <%end%>
  </div>
<% end %>
