<div class="row">
  <div class="col-md-12">
    <h1>
      <span aria-hidden="true" class="icon icon-documents"></span>
      <span class="main-text">
        <%= t 'user.title'%>
      </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-7 col-sm-7">
    <div class="block block-size-large">
      <div class="block-content-outer">
        <div class="block-content-inner">
          <div class="table-responsive">
            <table id="users-data" class="table table-striped table-hover" data-source="<%= users_datatable_index_path(format: "json") %>" >
              <thead title="Haga clic para ordenar por esta columna.">
                <tr>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= User.human_attribute_name(:full_name)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= User.human_attribute_name(:email)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= User.human_attribute_name(:status)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= User.human_attribute_name(:actions)%></h5></th>
                </tr>
              </thead>
              <tbody align="center">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-sm-5">
    <div class="block block-size-large">
      <div class="block-content-outer">
        <div class="block-content-inner" style="padding: 0px 5px 0px 5px;">
          <%= render partial: "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
<input id="modal_save"   type="hidden" value="<%= I18n.t('views_user.modals.save')  %>"></input>
<input id="modal_update" type="hidden" value="<%= I18n.t('views_user.modals.update') %>"></input>
<input id="modal_delete" type="hidden" value="<%= I18n.t('views_user.modals.delete') %>"></input>
<input id="modal_cancel" type="hidden" value="<%= I18n.t('views_user.modals.cancel') %>"></input>
<input id="modal_change" type="hidden" value="<%= I18n.t('views_user.modals.change') %>"></input>

<script type="text/javascript">

$('#modal-holder').append('<%= render 'layouts/confirmation_modal' %>');

var elem = document.querySelector(".js-switch");
var init = new Switchery(elem);

if ($('#action').val() == 'index') {
  $('#user_status_entity_id').trigger('click');
  init.disable();
};

$("#users-data").DataTable({
    "processing": true,
    "serverSide": true,
    "ajax": $('#users-data').data('source'),
    "pagingType": 'simple_numbers',
    /*autoWidth: false,*/
    "bLengthChange": false,
    "iDisplayLength": 8, // Number of rows to display on a single page when using pagination.
    //"order": [[ 0, "desc" ]],
    /*columnDefs: [
       { orderable: false, targets: -1 }
    ]*/
    "columns": [
      {"data": "full_name"},
      {"data": "email"},
      {"data": "status"},
      {"data": "actions", orderable: false }
    ]
});

$(document).on("click", ".deleteConfirm", function(a){
  a.preventDefault();
  $('#small-modal').find('.btn-primary').attr('id','delete');
  $('#small-modal').attr('data-id', $(this).data("id"));
  var text =  $('#modal_delete').val();
  $('.modal-body').empty();
  $('.modal-body').append(text);
  $('#small-modal').modal('show');
});


$(document).on('click','#cancelConfirm', function(a){
  a.preventDefault();
  $('#small-modal').find('.btn-primary').attr('id','cancel');
  var text =  $('#modal_cancel').val();
  $('.modal-body').empty();
  $('.modal-body').append(text);
  $('#small-modal').modal('show');
});

$(document).on('click','#saveConfirm', function(a){
  if ($('#form_user_catalogue').data("formValidation").validate().isValid()) {
    a.preventDefault();
    $('#small-modal').find('.btn-primary').attr('id','save');
    var text =  $('#modal_save').val();
    $('.modal-body').empty();
    $('.modal-body').append(text);
    $('#small-modal').modal('show');
  }
});

$(document).on("click", ".edit", function(){
  var a = $(this).attr("data-id");
  Turbolinks.visit("/users/" + a + "/edit");
});
$(document).on('click','#updateConfirm', function(a){
  if ($('#form_user_catalogue').data("formValidation").validate().isValid()) {
    a.preventDefault();
    $('#small-modal').find('.btn-primary').attr('id','update');
    var text =  $('#modal_update').val();
    $('.modal-body').empty();
    $('.modal-body').append(text);
    $('#small-modal').modal('show');
  }
});

// -------------------- Modal actions ----------------------------

$(document).on('click','#delete', function(c){
  var a = new FormData($("#form_user_catalogue")[0]);
  var e = $('#small-modal').attr("data-id");
  $.ajax({
    url: "/users/" + e,
    type: "DELETE",
    data: a,
    cache: false,
    processData: false,
    contenttype: false,
    beforeSend: function(){
      $('#small-modal').modal('hide');
    },
    success: function(){
      if ($('#user_id').length && $('#user_id').val() == e) {
        Turbolinks.visit("<%= users_path %>");
      } else {
        $('#users-data').DataTable().ajax.reload();
      }
    }
  });
  c.stopImmediatePropagation();
});

$(document).on('click','#cancel', function(){
  if ($('#user_id').length) {
    Turbolinks.visit("<%= users_path %>");
  } else {
    $('#small-modal').modal('hide');
    disable_form();
  }
});

$(document).on('click','#save', function(e){
  $("#form_user_catalogue").trigger('submit.rails');
  disable_form();
  $('#small-modal').modal('hide');
  $('#users-data').DataTable().ajax.reload();
  e.stopImmediatePropagation();

  // var a = new FormData($("#form_user_catalogue")[0]);
  // alert(a);
  // alert('<%= users_path %>')
  // $.ajax({
  //   url: "<%= users_path %>",
  //   type: "POST",
  //   data: a,
  //   dataType: "JSON",
  //   cache: false,
  //   processData: false,
  //   contenttype: false,
  //   beforeSend: function(){
  //     $('#small-modal').modal('hide');
  //   },
  //   success: function(){
  //     alert('Success');
  //   }
  // });
  // alert("Finished ajax call");
});

$(document).on('click','#update', function(e){
  $("#form_user_catalogue").trigger('submit.rails');
  $('#small-modal').modal('hide');
  Turbolinks.visit("<%= users_path %>");
  e.stopImmediatePropagation();

  // var a = $('#user_id').val();
  // var e = new FormData($("#form_user_catalogue")[0]);
  // alert(a + e);
  // $.ajax({
  //   url: "/users/" + a,
  //   type: "PUT",
  //   data: e,
  //   dataType: "JSON",
  //   cache: false,
  //   processData: false,
  //   contenttype: false,
  //   beforeSend: function(){
  //     $('#small-modal').modal('hide');
  //   },
  //   success: function(){
  //     alert('Success');
  //   }
  // });
  // alert("Finished ajax call");
});

// -------------------- Others ----------------------------

$(document).on('click','#button_new', function(){
  $('#button_new').css("display", "none");
  $('#buttons').css("display", "block");
  $('#form_user_catalogue :input').removeAttr('disabled');
  init.enable();
});

function disable_form (){
  $('#form_user_catalogue')[0].reset();
  $('.form-group').removeClass('has-error has-success');
  $('.form-control-feedback').removeClass('icon icon-check icon-cross icon-refresh');
  $('#form_user_catalogue :input').attr('disabled','disabled');
  $('#form_user_catalogue .help-block').css('display','none');
  $('#button_new').css("display", "block");
  $('#buttons').css("display", "none");
  init.disable();
};

if ($('#action').val() == 'edit') {
  $('#button_new').css("display", "none");
  $('#buttons').css("display", "block");
  $('#form_user_catalogue :input').removeAttr('disabled');
  $('#saveConfirm').attr('id','updateConfirm');
  $('#updateConfirm').empty();
  var text = '<strong><%= t('views_user.form.update') %></strong>';
  $('#updateConfirm').append(text);
  init.enable();
};

$('#form_user_catalogue').formValidation({
    feedbackIcons: {
        valid: 'icon icon-check',
        invalid: 'icon icon-cross',
        validating: 'icon icon-refresh'
    },
    excluded: ':disabled', // <=== Add the excluded opti
    fields: {
        'user[first_name]': {
            //message: 'The user is not valid',
            validators: {
                notEmpty: {
                    message: 'The first name is required and cannot be empty'
                },
                stringLength: {
                    min: 2,
                    message: 'The first name must be more than 2'
                },
            }
        },
        'user[last_name]': {
            //message: 'The user is not valid',
            validators: {
                notEmpty: {
                    message: 'The last name is required and cannot be empty'
                },
                stringLength: {
                    min: 2,
                    message: 'The last name must be more than 2'
                },
            }
        },
        'user[email]': {
            verbose: false,
            validators: {
                notEmpty: {
                    message: 'The email address is required and cannot be empty'
                },
                emailAddress: {
                    message: 'The email address is not a valid'
                },
                remote: {
                    message: 'The email is not available',
                    url: '/checking/email/',
                    onkeyup: false,
                    delay: 2000,     // Send Ajax request every 2 seconds
                    /*data: {
                        type: 'email'
                    },*/
                    type: 'POST'
                }
            }
        },
        'user[password]': {
            validators: {
                notEmpty: {
                    message: 'The password is required and cannot be empty'
                },
                stringLength: {
                    min: 8,
                    message: 'The password must be more than 8'
                },
            }
        },
        'user[password_confirmation]': {
            validators: {
                notEmpty: {
                    message: 'The confirm password is required and cannot be empty'
                },
                identical: {
                    field: 'user[password]',
                    message: 'The password and its confirm must be the same'
                }
            }
        }
    }
});

</script>
