<!-- START Body Container -->
<div id="body-container">
 <% if user_signed_in? %>
  <%= render partial: "shared/sidebar" %>
  <!-- START Right Column -->
  <div id="right-column">
 <% end %>
    <div class="right-column-content">
      <% if user_signed_in? %>
       <%= render partial: "shared/breadcrumb" %>
      <% end %>
      <!--<div class="row">-->
        <%= yield %>
      <!--</div>-->
    </div>
  </div>
  <style media="screen">

    table.dataTable thead .sorting, 
    table.dataTable thead .sorting_asc, 
    table.dataTable thead .sorting_desc {
        background : none;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      padding: 0px  !important;
      margin-left: 0px  !important;
      border: 0px !important;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
      border: 0px !important;
    }
    table.dataTable.no-footer {
      border-bottom: 0px !important;
    }
  </style>

</div>
