  <!-- START Footer Container -->
    <div id="footer-container">
      <div class="footer-content">
      &copy; <%= link_to('ixanaui',authenticated_root_path)%> <%= Time.now.year %>
      </div>
    </div>
    <!-- END Footer Container -->
  </div>
  <!-- END Right Column -->
</div>
    <!-- END Body Container -->