<div data-alert class="alert-box">
	<script type="text/javascript">
	    <% flash.each do |f| %>
	      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success') %>
	       toastr['<%= type %>']('<%= f[1] %>', '<%= type %>');
	    <% end %>
   </script>
</div>