<!-- START Left Column -->
<div id="left-column" class=""> <!-- NOTE TO READER: Accepts the following class(es) "menu-icon-only", "fixed" class -->
  <div id="mainnav">
    <ul class="mainnav"> <!-- NOTE TO READER: Accepts the following class(es) "animate" class -->
      <li class="menu-item-top <%=  params[:controller] == "welcome" ? 'selected' : ''%>">
        <%= link_to authenticated_root_path, class: "top" do %>
        <span class="main-menu-icon">
          <span aria-hidden="true" class="icon icon-grid-big"></span>
        </span>
        <span class="main-menu-text"><%#= t 'sidebar.dashboard' %></span>
        <% end %>
      </li>
      <li class="menu-item-top">
        <a href="#" class="top">
          <span class="main-menu-icon">
            <span aria-hidden="true" class="icon icon-settings"></span>
          </span>
          <span class="main-menu-text"><%= t('sidebar.settings') %></span>
        </a>
        <ul>
          <li><%= link_to t('sidebar.settings.users'), users_path %></li>
          <li><%= link_to t('sidebar.settings.users_organizations'), users_organizations_path %></li>
          <li><%= link_to t('sidebar.settings.requests_category'), requests_categories_path %></li>
          <li><%= link_to t('sidebar.settings.organizations'), organizations_path %></li>
          <li><%= link_to t('sidebar.settings.roles'), roles_path %></li>
          <li><%= link_to t('sidebar.settings.currencies'), currencies_path %></li>
          <li><%= link_to t('sidebar.settings.countries'), countries_path %></li>
          <li><%= link_to t('sidebar.settings.states'), states_path %></li>
          <li><%= link_to t('sidebar.settings.counties'), counties_path %></li>
          <li><%= link_to t('sidebar.settings.cities'), cities_path %></li>
          <li><%= link_to t('sidebar.settings.type_entities'), type_entities_path %></li>
          <li><%= link_to t('sidebar.settings.status_entities'), status_entities_path %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- END Left Column -->
