<!-- START Header Container -->
<div id="header-container">
  <div class="header-bar navbar navbar-inverse" role="navigation"> <!-- NOTE TO READER: Accepts the following class(es) "navbar-fixed-top" class -->
    <div class="container">
      <div class="navbar-header">
        <!-- START logo -->
        <div class="logo">
          <%#= link_to(image_tag("required/PonderIn.png", class: "default-logo", width: "156", height: "44"), "/") %>
          <%= link_to authenticated_root_path, class: "top" do
          image_tag("required/PonderIn.png", class: "default-logo", width: "156", height: "44")
          end %>
        </div>
        <!-- END logo -->
        <!-- START Mobile Menu Toggle -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- END Mobile Menu Toggle -->
        <!-- START Language Selector -->
        <div class="header-language"> <!-- NOTE TO READER: Accepts the following class(es) "animate" class -->
          <ul>
            <li>
              <a href="#" class="language-closed">
                <span aria-hidden="true" class="icon icon-wireframe-globe"></span>
                <span class="main-text"><%= t 'top.language' %></span>
              </a>
              <a href="#" class="language-opened">
                <span aria-hidden="true" class="icon icon-cross"></span>
                <span class="main-text"><%= t 'top.language' %></span>
              </a>
              <ul>
                <li class="language-list-item">
                  <div class="language-block">
                    <%= link_to  url_for( :locale => 'en' ), class: 'lenguaje' do %>
                    <span class="language-flag">
                      <%= image_tag("optional/flags/united-states.png", options:{width: "32", height: "32", alt: "english-flag"}) %>
                    </span>
                    <span class="language-name">
                      <%= t 'top.english' %>
                    </span>
                    <% end %>
                  </div>
                </li>
                <li class="language-list-item">
                  <div class="language-block">
                    <%= link_to  url_for( :locale => 'es' ), class: 'lenguaje' do %>
                    <span class="language-flag">
                      <%= image_tag("optional/flags/mexico.png", options:{width: "32", height: "32", alt: "espanol-flag"}) %>
                    </span>
                    <span class="language-name">
                      <%= t 'top.spanish' %>
                    </span>
                    <%end -%>
                  </div>
                </li>
                <li class="language-list-item">
                  <div class="language-block">
                    <%= link_to  url_for( :locale => 'fr' ), class: 'lenguaje' do %>
                    <span class="language-flag">
                      <%= image_tag("optional/flags/canada.png", options:{width: "32", height: "32", alt: "-flag"}) %>
                    </span>
                    <span class="language-name">
                      Français
                    </span>
                    <%end -%>
                  </div>
                </li>
                <li class="language-list-item">
                  <div class="language-block">
                    <%= link_to  url_for( :locale => 'pr' ), class: 'lenguaje' do %>
                    <span class="language-flag">
                      <%= image_tag("optional/flags/brazil.png", options:{width: "32", height: "32", alt: "espanol-flag"}) %>
                    </span>
                    <span class="language-name">
                      Português
                    </span>
                    <%end -%>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <!-- START Header Info Container -->
        <div class="header-info">
          <!-- START Header User Profile -->
          <div class="header-profile"> <!-- NOTE TO READER: Accepts the following class(es) "animate" class -->
            <ul class="header-profile-menu">
              <li>
                <a href="#" class="top">
                  <span class="header-profile-menu-icon">
                    <%= image_tag(current_user.avatar.url(:thumb), width: 39, height: 39) %>
                  </span>
                  <%= [current_user.first_name,current_user.last_name].join(' ') %>
                  <span class="main-menu-text">
                    <%#= current_user.full_name_cache%>
                    <i class="icon icon-arrow-down-bold-round icon-size-small"></i>
                  </span>
                </a>
                <ul>
                  <li>
                    <%= link_to profile_path(current_user) do  %>
                    <span aria-hidden="true" class="icon icon-user"></span>
                    <span class="main-text"><%= t 'top.profile' %></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to index_invitations_path do  %>
                    <span aria-hidden="true" class="icon icon-user"></span>
                    <span class="main-text"><%= t 'top.invitations' %></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete do  %>
                    <span aria-hidden="true" class="icon icon-arrow-curve-right"></span>
                    <span class="main-text"><%= t 'top.logout' %></span>
                    <% end %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- END Header User Profile -->
        </div>
        <!-- END Header Info Container -->

      </div>
    </div>
  </div>
</div>
<!-- END Header Container -->
