/**
 * Price List - Type 1
 */
.price-list .price-list-plan {
  background: none repeat scroll 0 0 #ffffff;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #e6e6e6;
  padding: 15px 0 15px 0;
  margin-bottom: 20px;
  clear: both;
  position: relative;
  overflow: hidden;
  -moz-border-radius: 0 0 5px 5px !important;
  -webkit-border-radius: 0 0 5px 5px !important;
  border-radius: 0 0 5px 5px !important;
  -webkit-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.price-list .price-list-plan:hover,
.price-list .price-list-plan:focus {
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  padding-top: 13px;
  border-top: 3px solid #4596f1;
}
.price-list .price-list-plan.highlight-color-green,
.price-list .price-list-plan.highlight-color-orange,
.price-list .price-list-plan.highlight-color-yellow,
.price-list .price-list-plan.highlight-color-blue,
.price-list .price-list-plan.highlight-color-red,
.price-list .price-list-plan.highlight-color-lime,
.price-list .price-list-plan.highlight-color-purple {
  border-bottom: 1px solid #dedede;
}
.price-list .price-list-plan.highlight-color-green:hover,
.price-list .price-list-plan.highlight-color-green:focus {
  border-top: 3px solid #6ec06e;
}
.price-list .price-list-plan.highlight-color-orange:hover,
.price-list .price-list-plan.highlight-color-orange:focus {
  border-top: 3px solid #ff8b1a;
}
.price-list .price-list-plan.highlight-color-yellow:hover,
.price-list .price-list-plan.highlight-color-yellow:focus {
  border-top: 3px solid #ffd040;
}
.price-list .price-list-plan.highlight-color-blue:hover,
.price-list .price-list-plan.highlight-color-blue:focus {
  border-top: 3px solid #4596f1;
}
.price-list .price-list-plan.highlight-color-red:hover,
.price-list .price-list-plan.highlight-color-red:focus {
  border-top: 3px solid #f14141;
}
.price-list .price-list-plan.highlight-color-lime:hover,
.price-list .price-list-plan.highlight-color-lime:focus {
  border-top: 3px solid #b2cd4d;
}
.price-list .price-list-plan.highlight-color-purple:hover,
.price-list .price-list-plan.highlight-color-purple:focus {
  border-top: 3px solid #ff4db6;
}
.price-list .price-list-plan .price-list-plan-top {
  margin-top: 35px;
  padding: 0 15px;
}
.price-list .price-list-plan .price-list-plan-top .c-icon {
  position: absolute;
  color: #ffffff;
  padding: 10px;
  left: -33px;
  top: 0;
  opacity: 0.30;
  z-index: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.price-list .price-list-plan:hover .price-list-plan-top .c-icon,
.price-list .price-list-plan:focus .price-list-plan-top .c-icon {
  top: -2px;
}
.price-list .price-list-plan .price-list-plan-top .c-icon .icon {
  background-color: #4596f1;
  -moz-border-radius: 50% 50% 50% 50% !important;
  -webkit-border-radius: 50% 50% 50% 50% !important;
  border-radius: 50% 50% 50% 50% !important;
  font-size: 150px !important;
  padding: 10px;
}
.price-list .price-list-plan.highlight-color-green .price-list-plan-top .c-icon .icon {
  background-color: #6ec06e;
}
.price-list .price-list-plan.highlight-color-orange .price-list-plan-top .c-icon .icon {
  background-color: #ff8b1a;
}
.price-list .price-list-plan.highlight-color-yellow .price-list-plan-top .c-icon .icon {
  background-color: #ffd040;
}
.price-list .price-list-plan.highlight-color-blue .price-list-plan-top .c-icon .icon {
  background-color: #4596f1;
}
.price-list .price-list-plan.highlight-color-red .price-list-plan-top .c-icon .icon {
  background-color: #f14141;
}
.price-list .price-list-plan.highlight-color-lime .price-list-plan-top .c-icon .icon {
  background-color: #b2cd4d;
}
.price-list .price-list-plan.highlight-color-purple .price-list-plan-top .c-icon .icon {
  background-color: #ff4db6;
}
.price-list .price-list-plan .price-list-plan-top .price-list-plan-unique-tag {
  background-color: #4596f1;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 10px 5px 15px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
.price-list .price-list-plan:hover .price-list-plan-top .price-list-plan-unique-tag,
.price-list .price-list-plan:focus .price-list-plan-top .price-list-plan-unique-tag {
  top: -2px;
}
.price-list .price-list-plan.highlight-color-green .price-list-plan-top .price-list-plan-unique-tag {
  background-color: #6ec06e;
}
.price-list .price-list-plan.highlight-color-orange .price-list-plan-top .price-list-plan-unique-tag {
  background-color: #ff8b1a;
}
.price-list .price-list-plan.highlight-color-yellow .price-list-plan-top .price-list-plan-unique-tag {
  background-color: #ffd040;
  color: #000000;
}
.price-list .price-list-plan.highlight-color-blue .price-list-plan-top .price-list-plan-unique-tag {
  background-color: #4596f1;
}
.price-list .price-list-plan.highlight-color-red .price-list-plan-top .price-list-plan-unique-tag {
  background-color: #f14141;
}
.price-list .price-list-plan.highlight-color-lime .price-list-plan-top .price-list-plan-unique-tag {
  background-color: #b2cd4d;
}
.price-list .price-list-plan.highlight-color-purple .price-list-plan-top .price-list-plan-unique-tag {
  background-color: #ff4db6;
}
.price-list .price-list-plan .price-list-plan-top .price-list-plan-name {
  font-size: 25px;
  text-align: right;
  font-weight: 200;
  line-height: 1;
  position: relative;
  z-index: 2;
}
.price-list .price-list-plan .price-list-plan-top .price-list-plan-price {
  font-size: 60px;
  text-align: right;
  font-weight: 300;
  position: relative;
  z-index: 3;
}
.price-list .price-list-plan .price-list-plan-top .price-list-plan-price sup {
  font-size: 57%;
}
.price-list .price-list-plan .price-list-plan-middle {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin-bottom: 15px;
}
.price-list .price-list-plan .price-list-plan-middle ul.price-list-plan-details {
  padding: 0;
  margin: 0;
  list-style: none;
}
.price-list .price-list-plan .price-list-plan-middle ul.price-list-plan-details li {
  padding: 10px 40px;
  border-bottom: 1px solid #dedede;
  text-align: center;
}
.price-list .price-list-plan .price-list-plan-middle ul.price-list-plan-details li:last-child {
  border-bottom: 0;
}
.price-list .price-list-plan .price-list-plan-middle ul.price-list-plan-details li .icon,
.price-list .price-list-plan .price-list-plan-middle ul.price-list-plan-details li .glyphicon,
.price-list .price-list-plan .price-list-plan-middle ul.price-list-plan-details li .wi {
  margin-right: 10px;
}
.price-list .price-list-plan .price-list-plan-bottom {
  padding: 0 15px;
  text-align: center;
}
