<div class="row">
	<div class="col-md-12">
	welcome
		<!--	<h1>
			<span aria-hidden="true" class="icon icon-documents"></span>
			<span class="main-text">
				<%#= t 'sidebar.dashboard' %>
			</span>
		</h1>-->
	</div>
</div>