<%= simple_form_for(@users_organizations_role) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :users_organization %>
    <%= f.association :role %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
