<h1>Editing Users Organizations Role</h1>

<%= render 'form', users_organizations_role: @users_organizations_role %>

<%= link_to 'Show', @users_organizations_role %> |
<%= link_to 'Back', users_organizations_roles_path %>
