<p id="notice"><%= notice %></p>

<h1>Users Organizations Roles</h1>

<table>
  <thead>
    <tr>
      <th>Users organization</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_organizations_roles.each do |users_organizations_role| %>
      <tr>
        <td><%= users_organizations_role.users_organization %></td>
        <td><%= users_organizations_role.role %></td>
        <td><%= link_to 'Show', users_organizations_role %></td>
        <td><%= link_to 'Edit', edit_users_organizations_role_path(users_organizations_role) %></td>
        <td><%= link_to 'Destroy', users_organizations_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users Organizations Role', new_users_organizations_role_path %>
