<p id="notice"><%= notice %></p>

<p>
  <strong>Users organization:</strong>
  <%= @users_organizations_role.users_organization %>
</p>

<p>
  <strong>Role:</strong>
  <%= @users_organizations_role.role %>
</p>

<%= link_to 'Edit', edit_users_organizations_role_path(@users_organizations_role) %> |
<%= link_to 'Back', users_organizations_roles_path %>
