<%= t("devise.mailer.invitation_instructions.hello", email: @user.email) %>

<%= t("devise.mailer.invitation_instructions.someone_invited_you") %>

<%#= new_user_registration_path(@user, :invitation_token => @user.invitation_token) %>

<%# if @user %>
  <%#= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@user, format: :'devise.mailer.invitation_instructions.accept_until_format')) %>
<%# end %>

<%#= strip_tags t("devise.mailer.invitation_instructions.ignore") %>
