<%= form_for(@role,  remote: true, :html => {class: "new_role fv-form fv-form-bootstrap", id: "form_role", novalidate: "novalidate"}) do |f| %>
  <input name="utf8" type="hidden" value="✓">
  <div class="form-group has-feedback">
    <%= f.label :name, Role.human_attribute_name(:name) + " (*)".html_safe, class: "control-label" %>
    <%= f.text_field :name, class: "form-control", id: "role_name", required:"required", disabled: "disabled" %>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :sort_name, Role.human_attribute_name(:sort_name) + " (*)".html_safe, class: "control-label" %>
    <%= f.text_field :sort_name, class: "form-control", id: "role_sort_name", required:"required", disabled: "disabled" %>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :class_name, Role.human_attribute_name(:class_name) + " (*)".html_safe, class: "control-label" %>
    <%= f.text_field :class_name, class: "form-control", id: "role_class_name", required:"required", disabled: "disabled" %>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :description, Role.human_attribute_name(:description) + " (*)".html_safe, class: "control-label" %>
    <%= f.text_field :description, class: "form-control", id: "role_description", required:"required", disabled: "disabled" %>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :status_entity_id, Role.human_attribute_name(:status_entity_id) + " (*)".html_safe, class: "control-label" %><br>
    <%= f.check_box :status_entity_id, {id: "role_status_entity_id",  class: "js-switch", data: {switchery: "true"}, style: "display: none;" }, @availableActive[0].id, @availableInactive[0].id %>
  </div>
  <p>
  </p>
  <div class="form-group" id="button_new">
    <div id="" class="btn btn-primary">
      <strong>New</strong>
    </div>
  </div>
  <% if action_name == "edit" %>
    <%= f.hidden_field :id , id: "role_id" %>
  <% end %>

  <input type="hidden" id="action" value="<%= action_name %>">
  <input type="hidden" name="_dontcare">
<!-- Workaround to avoid corrupted XHR2 request body in IE10 / IE11 -->
  <div id="buttons" class="form-group" style="display: none">
    <%= button_tag(name: "button", type:"button",id: "saveConfirm", class: "btn btn-primary") do %>
      <strong>Save</strong>
    <%end%>
    <%= button_tag(name: "button", type:"button",id: "cancelConfirm", class: "btn btn-danger") do %>
      <strong>Cancel</strong>
    <%end%>
  </div>
<% end %>
