
<div class="standalone-page">
  <div class="standalone-page-logo">
    <a href="#">
      <%= image_tag("required/logoOut.png", width: "380", height: "196" ) %>
    </a>
  </div>
  <div class="standalone-page-content" data-border-top="multi">
    <div class="standalone-page-block">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="heading">
          </h2>
        </div>
      </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, id:"password-edit", class: '', role: 'form'}) do |f| %>
         <% @user.errors.full_messages.each do |msg| %>
          <script>toastr['error']('<%= msg %>', 'error')</script>
         <% end %>
        <div class="row" style="padding: 0px 10px 0px 10px">
          <div class="col-xs-12">
              <div class="form-group">
                <%= f.label :password, t('password_edit.form.new_password_label') + " (*)".html_safe, class:"control-label"%>
                <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder:'Enter new password'%>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation, t('password_edit.form.confirm_password_label') + " (*)".html_safe, class:"control-label"%>
                <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder:'Enter password confirmation'%>
              </div>
              <div class="form-group">
                <%= f.submit t('password_edit.form.change_password_text'), class: "btn btn-success btn-sm" %>
                <%= link_to t('password_edit.form.log_in'), new_user_session_path ,class: "btn btn-link btn-sm pull-right" %>
              </div>
          </div>
        </div>
        <%= f.hidden_field :reset_password_token %>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
    /* Form Validation */
    $('#password-edit')
    .formValidation({
        feedbackIcons: {
            valid: 'icon icon-check',
            invalid: 'icon icon-cross',
            validating: 'icon icon-refresh'
        },
        excluded: ':disabled', // <=== Add the excluded opti
        fields: {
            'user[password]': {
                validators: {
                    notEmpty: {
                        message: 'The password is required and cannot be empty'
                    }, 
                    stringLength: {
                        min: 8,
                        message: 'The password must be more than 8'
                    },
                }
            },
            'user[password_confirmation]': {
                validators: {
                    notEmpty: {
                        message: 'The confirm password is required and cannot be empty'
                    },
                    identical: {
                        field: 'user[password]',
                        message: 'The password and its confirm must be the same'
                    }
                }
            },
        }
    });
</script>
<style type="text/css">
/**
* Pages Signin (Type 1), Signup
*/
/* Sign In, Forgot Password, Register Pages */
.standalone-page {
  margin: 100px auto 20px;
  max-width: 380px;
}
.standalone-page.registration-page {
  margin: 46px auto 20px;
}
.standalone-page .standalone-page-logo {
  text-align: center;
}
.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}
</style>