
<div class="standalone-page">
	<div class="standalone-page-logo">
      <a href="#">
        <%= image_tag("required/logoOut.png", width: "380", height: "196" ) %>
      </a>
	</div>
	<div class="standalone-page-content" data-border-top="multi">
		<div class="standalone-page-block">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="heading">
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<%= form_for(resource, as: resource_name, url: password_path(resource_name), :html => {id:'formPassword', class:'forgot-password-form form-horizontal', role: 'form' }) do |f| %>
					<p><%= t 'password_new.form.instructions' %></p>
					<div class="form-group">
						<%= f.label :email, User.human_attribute_name(:email).html_safe, class:"col-sm-3 control-label"%>
						<div class="col-sm-9">
							<%= f.text_field :email, class: "form-control", autocomplete: "off", placeholder: true %>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<%= f.button t('password_new.form.reset_password'), class: "btn btn-success btn-sm" %>
							<%= link_to t('password_new.form.cancel_and_login'), new_user_session_path ,class: "btn btn-link btn-sm pull-right" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
/**
 * Pages Signin (Type 1), Signup
 */
/* Sign In, Forgot Password, Register Pages */
.standalone-page {
  margin: 100px auto 20px;
  max-width: 380px;
}
.standalone-page.registration-page {
  margin: 46px auto 20px;
}
.standalone-page .standalone-page-logo {
  text-align: center;
}

</style>
