<%= form_for(@city,  remote: true, :html => {class: "new_city fv-form fv-form-bootstrap", id: "form_city", novalidate: "novalidate"}) do |f| %>

  <div class="form-group has-feedback">
    <%= f.label :name, City.human_attribute_name(:name) + " (*)".html_safe, class: "control-label" %>
    <%= f.text_field :name, class: "form-control", id: "city_name", required:"required", disabled: "disabled" %>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :sort_name, City.human_attribute_name(:sort_name) + " (*)".html_safe, class: "control-label" %>
    <%= f.text_field :sort_name, class: "form-control", id: "city_sort_name", required:"required", disabled: "disabled" %>
  </div>
  <div class="form-group">
    <%= f.label :state_id, City.human_attribute_name(:state_id)+" (*)".html_safe, class:"control-label"%>
    <%= f.select( :state_id, options_for_select( State.all.collect {|p| [p.name, p.id] }, @city.state_id ), {prompt:''}, { class: 'form-control chosen-select', disabled: true})%>   
  </div>
    <div class="form-group">
    <%= f.label :county_id, City.human_attribute_name(:county_id)+" (*)".html_safe, class:"control-label"%>
    <%= f.select :county_id, options_for_select(params[:action] == "index" ? [] : County.where(state_id: @city.state_id ).collect {|p| [p.name, p.id] }, @city.county_id),{},
        class: 'form-control chosen-select', disabled:true,
      "data-option-dependent" => true,
      "data-option-observed" => "city_state_id",
      "data-option-url" => "/states/:state_id:/get_counties_by_state.json" %>
  </div>
  <!-- This should be a radio button -->
  <div class="form-group has-feedback">
    <%= f.label :description, City.human_attribute_name(:description) + " (*)".html_safe, class: "control-label" %>
    <%= f.text_field :description, class: "form-control", id: "city_description", required:"required", disabled: "disabled" %>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :status_entity_id, City.human_attribute_name(:status_entity_id) + " (*)".html_safe, class: "control-label" %><br>
    <%= f.check_box :status_entity_id, {id: "city_status_entity_id",  class: "js-switch", data: {switchery: "true"}, style: "display: none;" }, @availableActive[0].id, @availableInactive[0].id %>
  </div>
  <p>
  </p>
  <div class="form-group" id="button_new">
    <div id="" class="btn btn-primary">
      <strong>New</strong>
    </div>
  </div>
  <% if action_name == "edit" %>
    <%= f.hidden_field :id , id: "city_id" %>
  <% end %>

  <!-- <#%= hidden_field_tag 'action', value: action_name, id: "action" %> -->
  <input type="hidden" id="action" value="<%= action_name %>">
  <%= hidden_field_tag '_dontcare' %>

<!-- Workaround to avoid corrupted XHR2 request body in IE10 / IE11 -->
  <div id="buttons" class="form-group" style="display: none">
    <%= button_tag(name: "button", type:"button",id: "saveConfirm", class: "btn btn-primary") do %>
      <strong>Save</strong>
    <%end%>
    <%= button_tag(name: "button", type:"button",id: "cancelConfirm", class: "btn btn-danger") do %>
      <strong>Cancel</strong>
    <%end%>
  </div>
<% end %>
