<%= f.label :county_id, City.human_attribute_name(:county_id) + " (*)".html_safe, class: "control-label" %>
<%= f.select( :county_id, County.all.collect {|p| [p.name, p.id]}, {include_blank: "Select a county"}, {id: "county_id",class: "form-control chosen-select", disabled: "disabled"})%>
