<div class="row">
  <div class="col-md-12">
    <h1>
      <span aria-hidden="true" class="icon icon-documents"></span>
      <span class="main-text">
        <%= t 'views_city.title'%>
      </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-sm-8">
    <div class="block block-size-large">
      <div class="block-content-outer">
        <div class="block-content-inner">
          <div class="table-responsive">
            <table id="cities-data" class="table table-striped table-hover" data-source="<%= cities_datatable_index_path(format: "json") %>" >
              <thead title="Haga clic para ordenar por esta columna.">
                <tr>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= City.human_attribute_name(:name)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= City.human_attribute_name(:state_id)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= City.human_attribute_name(:county_id)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= City.human_attribute_name(:status)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= City.human_attribute_name(:actions)%></h5></th>
                </tr>
              </thead>
              <tbody align="center">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="block block-size-large">
      <div class="block-content-outer">
        <div class="block-content-inner" style="padding: 0px 5px 0px 5px;">
          <%= render partial: "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
<input id="modal_save"   type="hidden" value="<%= I18n.t('views_city.modals.save')  %>"></input>
<input id="modal_update" type="hidden" value="<%= I18n.t('views_city.modals.update') %>"></input>
<input id="modal_delete" type="hidden" value="<%= I18n.t('views_city.modals.delete') %>"></input>
<input id="modal_cancel" type="hidden" value="<%= I18n.t('views_city.modals.cancel') %>"></input>
<input id="modal_change" type="hidden" value="<%= I18n.t('views_city.modals.change') %>"></input>

<script type="text/javascript">
$('#modal-holder').append('<%= render 'layouts/confirmation_modal' %>');

var elem = document.querySelector(".js-switch");
var init = new Switchery(elem);
var i18n = $('#body').attr('data-locale'); 

if ($('#action').val() == 'index') {
  $('#city_status_entity_id').trigger('click');
  init.disable();
};
$('#city_state_id').chosen({
    placeholder_text: i18n == "en" ? 'Select a State' : 'Seleccione Estado',
    width: "100%",
});
$('#city_county_id').chosen({
    placeholder_text: i18n == "en" ? 'Select a County' : 'Seleccione Condado',
    width: "100%",
});
$("#cities-data").DataTable({
    "processing": true,
    "serverSide": true,
    "ajax": $('#cities-data').data('source'),
    "pagingType": 'simple_numbers',
    /*autoWidth: false,*/
    "bLengthChange": false,
    "iDisplayLength": 8, // Number of rows to display on a single page when using pagination.
    //"order": [[ 0, "desc" ]],
    /*columnDefs: [
       { orderable: false, targets: -1 }
    ]*/
    "columns": [
      {"data": "name"},
      {"data": "state"},
      {"data": "county"},
      {"data": "status"},
      {"data": "actions", orderable: false }
    ]
});

$('select[data-option-dependent=true]').each(function (i) {
  var observer_dom_id = $(this).attr('id');
  var observed_dom_id = $(this).data('option-observed');
  var url_mask = $(this).data('option-url');
  var regexp = /:[0-9a-zA-Z_]+:/g;
  var observer = $('select#' + observer_dom_id);
  var observed = $('#' + observed_dom_id);
  if (!observer.val() && observed.size() > 1) {
    observer.attr('disabled', true);
  }
  observed.on('change', function () {
    observer.empty(); //.append(prompt);
    if (observed.val()) {
      url = url_mask.replace(regexp, observed.val());
      $.getJSON(url, function (data) {
        $.each(data, function (i, object) {
          observer.append($('<option>').attr('value', object.id).text(object.name));
            observer.attr('disabled', false);
        });
          $(observer).trigger('chosen:updated');
      });
    }
  });
});
// -------------------- Modal activators ----------------------------

$(document).on("click", ".deleteConfirm", function(a){
  a.preventDefault();
  $('#small-modal').find('.btn-primary').attr('id','delete');
  $('#small-modal').attr('data-id', $(this).data("id"));
  var text =  $('#modal_delete').val();
  $('.modal-body').empty();
  $('.modal-body').append(text);
  $('#small-modal').modal('show');
});


$(document).on('click','#cancelConfirm', function(a){
  a.preventDefault();
  $('#small-modal').find('.btn-primary').attr('id','cancel');
  var text =  $('#modal_cancel').val();
  $('.modal-body').empty();
  $('.modal-body').append(text);
  $('#small-modal').modal('show');
});

$(document).on('click','#saveConfirm', function(a){
  if ($('#form_city').data("formValidation").validate().isValid()) {
    a.preventDefault();
    $('#small-modal').find('.btn-primary').attr('id','save');
    var text =  $('#modal_save').val();
    $('.modal-body').empty();
    $('.modal-body').append(text);
    $('#small-modal').modal('show');
  }
});

$(document).on("click", ".edit", function(){
  var a = $(this).attr("data-id");
  Turbolinks.visit("/type_entities/" + a + "/edit");
});
$(document).on('click','#updateConfirm', function(a){
  if ($('#form_city').data("formValidation").validate().isValid()) {
    a.preventDefault();
    $('#small-modal').find('.btn-primary').attr('id','update');
    var text =  $('#modal_update').val();
    $('.modal-body').empty();
    $('.modal-body').append(text);
    $('#small-modal').modal('show');
  }
});

// -------------------- Modal actions ----------------------------

$(document).on('click','#delete', function(){
  var a = new FormData($("#form_city")[0]);
  var e = $('#small-modal').attr("data-id");
  $.ajax({
    url: "/type_entities/" + e,
    type: "DELETE",
    data: a,
    cache: false,
    processData: false,
    contenttype: false,
    beforeSend: function(){
      $('#small-modal').modal('hide');
    },
    success: function(){
      if ($('#city_id').length && $('#city_id').val() == e) {
        Turbolinks.visit("<%= type_entities_path %>");
      } else {
        $('#cities-data').DataTable().ajax.reload();
      }
    }
  });
});

$(document).on('click','#cancel', function(){
  if ($('#city_id').length) {
    Turbolinks.visit("<%= type_entities_path %>");
  } else {
    disable_form();
    $('#small-modal').modal('hide');
  }
});

$(document).on('click','#save', function(e){
  $("#form_city").trigger('submit.rails');
  disable_form();
  $('#small-modal').modal('hide');
  $('#cities-data').DataTable().ajax.reload();
  e.stopImmediatePropagation();

  // var a = new FormData($("#form_city")[0]);
  // // alert(a);
  // alert('<#%= type_entities_path %>')
  // $.ajax({
  //   url: "<#%= type_entities_path %>",
  //   type: "POST",
  //   data: a,
  //   dataType: "JSON",
  //   cache: false,
  //   processData: false,
  //   contenttype: false,
  //   beforeSend: function(){
  //     $('#small-modal').modal('hide');
  //   },
  //   success: function(){
  //     alert('Success');
  //     $('#cities-data').DataTable().ajax.reload();
  //     disable_form();
  //   }
  // });
  // alert("Finished ajax call");
});

$(document).on('click','#update', function(e){
  $("#form_city").trigger('submit.rails');
  $('#small-modal').modal('hide');
  Turbolinks.visit("<%= type_entities_path %>");
  e.stopImmediatePropagation();

  // var a = $('#city_id').val();
  // var e = new FormData($("#form_city")[0]);
  // $.ajax({
  //   url: "/type_entities/" + a,
  //   type: "PUT",
  //   data: e,
  //   dataType: "JSON",
  //   cache: false,
  //   processData: false,
  //   contenttype: false,
  //   beforeSend: function(){
  //     $('#small-modal').modal('hide');
  //   },
  //   success: function(){
  //     Turbolinks.visit("<#%= type_entities_path %>");
  //   }
  // });
  // alert("Finished ajax call");
});

// -------------------- Others ----------------------------

$(document).on('click','#button_new', function(){
  $('#button_new').css("display", "none");
  $('#buttons').css("display", "block");
  $('#form_city :input').removeAttr('disabled');
  $('.chosen-select').trigger('chosen:updated');       
  init.enable();
});

function disable_form (){
  $('#form_city')[0].reset();
  $('.form-group').removeClass('has-error has-success');
  $('.form-control-feedback').removeClass('icon icon-check icon-cross icon-refresh');
  $('#form_city :input').attr('disabled','disabled');
  $('#form_city .help-block').css('display','none');
  $('#button_new').css("display", "block");
  $('#buttons').css("display", "none");
  $('.chosen-select').trigger('chosen:updated');       
  init.disable();
};

if ($('#action').val() == 'edit') {
  $('#button_new').css("display", "none");
  $('#buttons').css("display", "block");
  $('#form_city :input').removeAttr('disabled');
  $('#saveConfirm').attr('id','updateConfirm');
  $('#updateConfirm').empty();
  $('.chosen-select').trigger('chosen:updated');       
  var text = '<strong><%= t('views_city.form.update') %></strong>';
  $('#updateConfirm').append(text);
  init.enable();
};
//     var e = $(this).attr("id")
//       , a = $(this).data("option-observed")
//       , t = $(this).data("option-url")
//       , o = /:[0-9a-zA-Z_]+:/g
//       , n = $("select#" + e)
//       , i = $("#" + a);
//     !n.val() && i.size() > 1 && n.attr("disabled", !0),
//     i.on("change", function() {
//         n.empty(),
//         i.val() && (url = t.replace(o, i.val()),
//         $.getJSON(url, function(e) {
//             $.each(e, function(e, a) {
//                 n.append($("<option>").attr("value", a.id).text(a.name)),
//                 n.attr("disabled", !1)
//             }),
//             $(n).trigger("chosen:updated")
//         }))
//     })

$("[name='city[state_id]'").on('change', function() {
  $.ajax({
    url:'<%= cities_path %>',
    type: 'GET',
    dataType: 'script',
    data: {filter: $(this).val()}
  });
});

$("#form_city").formValidation({
    framework: "bootstrap",
    icon: {
        valid: 'icon icon-check',
        invalid: 'icon icon-cross',
        validating: 'icon icon-refresh'
    },
    excluded: ":disabled",
    fields: {
        "city[name]": {
            validators: {
                notEmpty: {
                    message: "The name is required and cannot be empty"
                }
            }
        },
        "city[sort_name]": {
            validators: {
                notEmpty: {
                    message: "The sort name is required and cannot be empty"
                },
                stringLength: {
                    max: 6,
                    message: 'The sort name must be less than 6 characters long'
                }
            }
        },
        "city[state_id]": {
            validators: {
                notEmpty: {
                    message: "The class name is required and cannot be empty"
                }
            }
        },
        "city[county_id]": {
            validators: {
                notEmpty: {
                    message: "The class name is required and cannot be empty"
                }
            }
        },
        "city[description]": {
            validators: {
                notEmpty: {
                    message: "The description is required and cannot be empty"
                }
            }
        }
    }
})
</script>
