<%= form_for(@organization,  remote: true, :html => {class: "new_organization fv-form fv-form-bootstrap", id: "form_organization", novalidate: "novalidate"}) do |f| %>

  <!-- <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button> -->
  <input name="utf8" type="hidden" value="✓">
  <div class="form-group has-feedback">
    <%= f.label :name, Organization.human_attribute_name(:name) + " (*)".html_safe, class: "control-label" %>
    <%= f.text_field :name, class: "form-control", id: "organization_name", required:"required", disabled: "disabled" %>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :website, Organization.human_attribute_name(:website) + " (*)".html_safe, class: "control-label" %>
    <% if action_name == "edit" %>
      <%= f.text_field :website, class: "form-control prefix", id: "organization_website", required:"required", disabled: "disabled" %>
    <% else %>
      <%= f.text_field :website, class: "form-control prefix", id: "organization_website", required:"required", disabled: "disabled", value:"http://" %>
    <% end %>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :phone_number, Organization.human_attribute_name(:phone_number) + " (*)".html_safe, class: "control-label" %>
    <%= f.text_field :phone_number, class: "form-control", id: "organization_phone_number", required:"required", disabled: "disabled" %>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :address, Organization.human_attribute_name(:address) + " (*)".html_safe, class: "control-label" %>
    <%= f.text_field :address, class: "form-control", id: "organization_address", required:"required", disabled: "disabled" %>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :status_entity_id, Organization.human_attribute_name(:status_entity_id) + " (*)".html_safe, class: "control-label" %><br>
    <%= f.check_box :status_entity_id, {id: "organization_status_entity_id", class: "js-switch", data: {switchery: "true"}, style: "display: none;" }, @availableActive[0].id, @availableInactive[0].id %>
  </div>
  <p>
  </p>
  <div class="form-group" id="button_new">
    <div id="" class="btn btn-primary">
      <strong>New</strong>
    </div>
  </div>
  <% if action_name == "edit" %>
    <%= f.hidden_field :id , id: "organization_id" %>
  <% end %>

  <input type="hidden" id="action" value="<%= action_name %>">
  <input type="hidden" name="_dontcare">
<!-- Workaround to avoid corrupted XHR2 request body in IE10 / IE11 -->
  <div id="buttons" class="form-group" style="display: none">
    <%= button_tag(name: "button", type:"button",id: "saveConfirm", class: "btn btn-primary") do %>
      <strong>Save</strong>
    <%end%>
    <%= button_tag(name: "button", type:"button",id: "cancelConfirm", class: "btn btn-danger") do %>
      <strong>Cancel</strong>
    <%end%>
  </div>
<% end %>
