<div class="row">
  <div class="col-md-12">
    <h1>
      <span aria-hidden="true" class="icon icon-documents"></span>
      <span class="main-text">
        <%= t 'views_organization.title'%>
      </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-sm-8">
    <div class="block block-size-large">
      <div class="block-content-outer">
        <div class="block-content-inner">
          <div class="table-responsive">
            <table id="organizations-data" class="table table-striped table-hover" data-source="<%= organizations_datatable_index_path(format: "json") %>" >
              <thead title="Haga clic para ordenar por esta columna.">
                <tr>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= Organization.human_attribute_name(:name)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= Organization.human_attribute_name(:website)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= Organization.human_attribute_name(:phone_number)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= Organization.human_attribute_name(:status_entity_id)%></h5></th>
                  <th><h5 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;" align="center"><%= Organization.human_attribute_name(:actions)%></h5></th>
                </tr>
              </thead>
              <tbody align="center">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="block block-size-large">
      <div class="block-content-outer">
        <div class="block-content-inner" style="padding: 0px 5px 0px 5px;">
          <%= render partial: "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
<input id="modal_save"   type="hidden" value="<%= I18n.t('views_organization.modals.save')  %>"></input>
<input id="modal_update" type="hidden" value="<%= I18n.t('views_organization.modals.update') %>"></input>
<input id="modal_delete" type="hidden" value="<%= I18n.t('views_organization.modals.delete') %>"></input>
<input id="modal_cancel" type="hidden" value="<%= I18n.t('views_organization.modals.cancel') %>"></input>
<input id="modal_change" type="hidden" value="<%= I18n.t('views_organization.modals.change') %>"></input>


<script type="text/javascript">
$('#modal-holder').append('<%= render 'layouts/confirmation_modal' %>');

var elem = document.querySelector(".js-switch");
var init = new Switchery(elem);

if ($('#action').val() == 'index') {
  $('#organization_status_entity_id').trigger('click');
  init.disable();
};
$("#organizations-data").DataTable({
    "processing": true,
    "serverSide": true,
    "ajax": $('#organizations-data').data('source'),
    "pagingType": 'simple_numbers',
    /*autoWidth: false,*/
    "bLengthChange": false,
    "iDisplayLength": 8, // Number of rows to display on a single page when using pagination.
    //"order": [[ 0, "desc" ]],
    /*columnDefs: [
       { orderable: false, targets: -1 }
    ]*/
    "columns": [
      {"data": "name"},
      {"data": "website"},
      {"data": "phone_number"},
      {"data": "status"},
      {"data": "actions", orderable: false }
    ]
});
// -------------------- Modal activators ----------------------------

$(document).on("click", ".deleteConfirm", function(a){
  a.preventDefault();
  $('#small-modal').find('.btn-primary').attr('id','delete');
  $('#small-modal').attr('data-id', $(this).data("id"));
  var text =  $('#modal_delete').val();
  $('.modal-body').empty();
  $('.modal-body').append(text);
  $('#small-modal').modal('show');
});


$(document).on('click','#cancelConfirm', function(a){
  a.preventDefault();
  $('#small-modal').find('.btn-primary').attr('id','cancel');
  var text =  $('#modal_cancel').val();
  $('.modal-body').empty();
  $('.modal-body').append(text);
  $('#small-modal').modal('show');
});

$(document).on('click','#saveConfirm', function(a){
  if ($('#form_organization').data("formValidation").validate().isValid()) {
    a.preventDefault();
    $('#small-modal').find('.btn-primary').attr('id','save');
    var text =  $('#modal_save').val();
    $('.modal-body').empty();
    $('.modal-body').append(text);
    $('#small-modal').modal('show');
  }
});

$(document).on("click", ".edit", function(){
  var a = $(this).attr("data-id");
  Turbolinks.visit("/organizations/" + a + "/edit");
});
$(document).on('click','#updateConfirm', function(a){
  if ($('#form_organization').data("formValidation").validate().isValid()) {
    a.preventDefault();
    $('#small-modal').find('.btn-primary').attr('id','update');
    var text =  $('#modal_update').val();
    $('.modal-body').empty();
    $('.modal-body').append(text);
    $('#small-modal').modal('show');
  }
});

// -------------------- Modal actions ----------------------------

$(document).on('click','#delete', function(){
  var a = new FormData($("#form_organization")[0]);
  var e = $('#small-modal').attr("data-id");
  $.ajax({
    url: "/organizations/" + e,
    type: "DELETE",
    data: a,
    cache: false,
    processData: false,
    contenttype: false,
    beforeSend: function(){
      $('#small-modal').modal('hide');
    },
    success: function(){
      if ($('#organization_id').length && $('#organization_id').val() == e) {
        Turbolinks.visit("<%= organizations_path %>");
      } else {
        $('#organizations-data').DataTable().ajax.reload();
      }
    }
  });
});

$(document).on('click','#cancel', function(){
  if ($('#organization_id').length) {
    Turbolinks.visit("<%= organizations_path %>");
  } else {
    $('#small-modal').modal('hide');
    disable_form();
  }
});

$(document).on('click','#save', function(e){
  $("#form_organization").trigger('submit.rails');
  disable_form();
  $('#small-modal').modal('hide');
  $('#organizations-data').DataTable().ajax.reload();
  e.stopImmediatePropagation();

  // var a = new FormData($("#form_organization")[0]);
  // alert(a);
  // alert('<%= organizations_path %>')
  // $.ajax({
  //   url: "<%= organizations_path %>",
  //   type: "POST",
  //   data: a,
  //   dataType: "JSON",
  //   cache: false,
  //   processData: false,
  //   contenttype: false,
  //   beforeSend: function(){
  //     $('#small-modal').modal('hide');
  //   },
  //   success: function(){
  //     alert('Success');
  //   }
  // });
  // alert("Finished ajax call");
});

$(document).on('click','#update', function(e){
  $("#form_organization").trigger('submit.rails');
  $('#small-modal').modal('hide');
  Turbolinks.visit("<%= organizations_path %>");
  e.stopImmediatePropagation();

  // var a = $('#organization_id').val();
  // var e = new FormData($("#form_organization")[0]);
  // alert(a + e);
  // $.ajax({
  //   url: "/organizations/" + a,
  //   type: "PUT",
  //   data: e,
  //   dataType: "JSON",
  //   cache: false,
  //   processData: false,
  //   contenttype: false,
  //   beforeSend: function(){
  //     $('#small-modal').modal('hide');
  //   },
  //   success: function(){
  //     alert('Success');
  //   }
  // });
  // alert("Finished ajax call");
});

// -------------------- Others ----------------------------

$(document).on('click','#button_new', function(){
  $('#button_new').css("display", "none");
  $('#buttons').css("display", "block");
  $('#form_organization :input').removeAttr('disabled');
  init.enable();
});

function disable_form (){
  $('#form_organization')[0].reset();
  $('.form-group').removeClass('has-error has-success');
  $('.form-control-feedback').removeClass('icon icon-check icon-cross icon-refresh');
  $('#form_organization :input').attr('disabled','disabled');
  $('#form_organization .help-block').css('display','none');
  $('#button_new').css("display", "block");
  $('#buttons').css("display", "none");
  init.disable();
};

if ($('#action').val() == 'edit') {
  $('#button_new').css("display", "none");
  $('#buttons').css("display", "block");
  $('#form_organization :input').removeAttr('disabled');
  $('#saveConfirm').attr('id','updateConfirm');
  $('#updateConfirm').empty();
  var text = '<strong><%= t('views_organization.form.update') %></strong>';
  $('#updateConfirm').append(text);
  init.enable();
};

$(".prefix").keydown(function() {
    var a = $(this).val()
      , e = this;
    setTimeout(function() {
        0 !== e.value.indexOf("http://") && $(e).val(a)
    }, 1)
});

$("#organization_phone_number").mask("(999) 999-9999", {autoclear: false});

$("#form_organization").formValidation({
    framework: "bootstrap",
    icon: {
      valid: 'icon icon-check',
      invalid: 'icon icon-cross',
      validating: 'icon icon-refresh'
    },
    excluded: ":disabled",
    fields: {
        "organization[name]": {
            validators: {
                notEmpty: {
                    message: "The name is required and cannot be empty"
                }
            }
        },
        "organization[website]": {
            validators: {
                notEmpty: {
                    message: "The website is required and cannot be empty"
                },
                uri: {
                    message: "The url is not valid"
                }
            }
        },
        "organization[phone_number]": {
            validators: {
                notEmpty: {
                    message: "The phone number is required and cannot be empty"
                },
                stringLength: {
                    min: 8,
                    message: 'The phone number must have more than 8 digits'
                }

            }
        },
        "organization[address]": {
            validators: {
                notEmpty: {
                    message: "The address is required and cannot be empty"
                }
            }
        }
    }
})

</script>
