<%= form_for(@invitation, remote: request.xhr?, html: {data: {modal: true }})  do |f| %>
<div class="form-group">
  <%= f.label :email, User.human_attribute_name(:email) + " (*)".html_safe, class:"control-label" %>
  <%= f.text_field :email, class: "form-control",  placeholder: true ,required: true %>
</div>

<%= f.submit t('registration.form.submit'),  class: "btn btn-success" %>

<% end %>
