<div class="table-responsive">  
	<table class="table table-striped table-hover">
	  <tbody>
	   <% @invitations.each do |invitation| %>
	    <tr id="invitation_<%= invitation.id%>">
	      <td style="width: 45%">
	      	<div style="padding-left: 15px" class="row">
	      		<div align="center" class="col-md-1">   
	      		   <%= invitation.user_id.nil? ? fa_icon("envelope-o", style:"padding-left: 5px") : image_tag(User.find(invitation.user_id).avatar.url(:thumb), width: 23, height: 23, class: "list-thumbnail") %>
	      		</div>
	      		<div align="left" style="padding-left: 0px" class="col-md-10">
					<% if invitation.user_id.nil?%>
					   <%= invitation.email %>					  
					<% else %>
					  <%= invitation.full_name %>
					<% end %>
					<span class="loading" style="display: none"><%= image_tag("ajax-loader.gif") %></span>
					<span id="resend_invitation"><%= invitation.status == 'Pending' ? link_to("(Resend invitation)", resend_invitation_path(token: invitation.invitation_token), remote: true, class: "resend") : '' %></span>
	      		</div>
	      	</div> 	
	      </td>
	      <td style="width: 15%">
	      	 <span class="label label-warning"><%= invitation.status %></span>
	      </td>
	      <td onload="return ran_col()" align="right" style="width: 20%">
	      	    <div><%= "#{['Invited', invitation.created_at.strftime("%B %e, %Y")].join(' ')}" %></div><br>
	      		<div class="posts_to" style="margin-top: -17px"><a><%="#{['by'.html_safe, invitation.by_full_name].join(' ')}"%></a></div>
	      </td>
	      <td align="right" style="width: 20%; padding-right: 45px"><%=
	      link_to("<span style='cursor:pointer' class='icon-cross icon-size-medium highlight-color-gray-text deleteRow'></span>".html_safe, remove_invitation_path(id: invitation.id), remote: true) %></td>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
</div>

<style type="text/css">
  table {
    border-collapse: collapse;
    width: 100%;
  }
  .fa { transform: scale(1.4,1.4); }
</style>
<script type="text/javascript">

	$(".resend")
      .bind("ajax:beforeSend", function(){
        $(this).closest('tr').find('.loading').toggle();
      }).bind("ajax:success", function(event, data, status, xhr) {
        $(this).closest('tr').find('.col-md-10').append('<span class="label label-success"><strong>Invitation resend</strong></span>');
      }).bind("ajax:complete", function(){
	    $(this).closest('tr').find('.loading').remove();
    	$(this).closest('tr').find('#resend_invitation').remove();
      });


    function ran_col() { //function name
        var color = '#'; // hexadecimal starting symbol
        var letters = ['000000','FF0000','00FF00','0000FF','FFFF00','00FFFF','FF00FF','C0C0C0']; //Set your colors here
        color += letters[Math.floor(Math.random() * letters.length)];
        $(".posts_to").css("background", "blue"); // Setting the random color on your div element.
    }
</script>