<div class="standalone-page">
  <div class="standalone-page-content" data-border-top="multi">
    <div class="standalone-page-block">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="heading">
          </h2>
        </div>
      </div>
      <%#= form_for( @invitation, url: accept_invitations_path(@invitation), html: { method: :put, role: 'form'} ) do |f| %>
      <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put, role: 'form'} do |f| %>
        <div class="row">
            <div class="col-md-12"> 
                <div class="form-group">
                  <%= f.label :first_name, "First name (*)".html_safe, class:"control-label" %>
                  <%= f.text_field :first_name, class: "form-control",  placeholder: "First name" ,required: true %>
                </div>
                <div class="form-group">
                  <%= f.label :last_name, "Last name (*)".html_safe, class:"control-label" %>
                  <%= f.text_field :last_name, class: "form-control", placeholder: "Last name", required: true %>
                </div>
                <div class="form-group">
                  <%= f.label :email, "Email (*)".html_safe, class:"control-label" %>
                  <%= f.text_field :email, class: "form-control", placeholder: "Email", required: true %>
                </div>  
                <div class="form-group">
                  <%= f.label :password, "Password (*)".html_safe, class:"control-label" %>
                  <%= f.password_field :password, class: "form-control", placeholder: "Enter password", required: true %>
                </div>
                <div class="form-group">
                  <%= f.label :password_confirmation, "Password confirmation (*)".html_safe, class:"control-label" %>
                  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter password again", required: true %>
                </div>    
                <%= f.hidden_field :status_entity_id, class: "form-control", value:'1' %>
                <%= f.hidden_field :status, class: "form-control", value:'1' %>
                <%= f.hidden_field :invitation_token %>          

                <%= f.text_field :organization_id %>          
              <!-- Previous/Next buttons -->
              <ul class="pager wizard">
                  <li id="create"><%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-success" %></li>
              </ul>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<h2><%= t 'devise.invitations.edit.header' %></h2>
<style type="text/css">
/**
 * Pages Signin (Type 1), Signup
 */
/* Sign In, Forgot Password, Register Pages */
.standalone-page {
  margin: 100px auto 20px;
  max-width: 380px;
}
.standalone-page.registration-page {
  margin: 46px auto 20px;
}
.standalone-page .standalone-page-logo {
  text-align: center;
}
</style>
<%#= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>
  <%#= devise_error_messages! %>
  <%#= f.hidden_field :invitation_token %>

  <%#= f.input :password %>
  <%#= f.input :password_confirmation %>

  <%#= f.button :submit, t("devise.invitations.edit.submit_button") %>
<%# end %>