<div class="row">
  <div class="col-md-12">
    <h1>
      <span aria-hidden="true" class="icon icon-email-upload"></span>
      <span class="main-text">
        Invitations<%#= t 'views_user.profile_title' %>
      </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="block block-size-large">
      <div class="block-content-outer">
        <div class="block-content-inner">

          <div class="tab-content" style="padding: 20px 20px 20px 20px">
              <div class="mailbox-container mailbox-email-list">
                  <div class="mailbox-controls">
                  <!--<div class="checkbox email-select-all">
                    <label>
                      <input type="checkbox">
                      <span class="main-text hidden-xs hidden-sm">
                        Select All
                      </span>
                    </label>
                  </div>-->
                  <%#= link_to 'Create category', new_user_invitation_path, data: { modal: true } %>
                    <%= link_to new_user_invitation_path, class: "btn btn-primary email-mark-read", data: { modal: true } do %>
                      <!--<span class="glyphicon glyphicon-saved"></span>-->
                      <span class="hidden-xs hidden-sm">
                        <b>Send invitation</b>
                      </span>
                    <% end %>
                    <div class="email-pager-top">
                      <%= form_tag index_invitations_path, :method => 'get', :id => "invitations_search", remote: true, role:'form' do %>                    
                          <%#= submit_tag "Search", :name => nil %>
                          <div class="inner-addon left-addon">
                              <i class="glyphicon glyphicon-search"></i>
                              <%= text_field_tag :search, params[:search], class:"form-control", id:"mailbox-search-bar", placeholder:"Search invitations..."%>
                          </div>
                      <% end %>
                    </div>
                  </div>
                <div style="margin-top: 30px" id="invitations"><%= render 'invitations' %></div>
                <div class="row email-pager-bottom" style="margin-top: -20px">
                  <div style="padding-top:20px" align="left" class="col-md-6 page_info" >
                    <%= page_entries_info @invitations %>
                  </div>
                  <div id="page_links" class="col-md-6">
                    <%#= paginate @invitations %>
                    <%#= will_paginate @invitations, :renderer => 'RemoteLinkPaginationHelper::LinkRenderer', class: 'justify-content-center' %>
                    <%= will_paginate @invitations, renderer: 'RemoteLinkPaginationHelper::LinkRenderer' %>
                  </div>                  
                </div>
              </div>
          
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<%#= page_entries_info @posts %>
<style type="text/css">

.pagination {
  margin: 10px 0;
}
  /**
 * Pages Mailbox
 */
/* Mailbox - General */
.mailbox-search {
  clear: both;
  margin-top: 32px;
}
.mailbox-menu {
  margin-bottom: 20px;
}
.mailbox-menu .mailbox-compose-outer {
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}
.mailbox-menu .mailbox-tags {
  border-top: 1px solid #dedede;
  padding-top: 10px;
}
.mailbox-menu .mailbox-tags .badge {
  margin-bottom: 5px;
}
.mailbox-container {
  /*padding: 20px 15px;
  border-top: 3px solid #4596f1;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede !important;*/
}
.mailbox-email-list .mailbox-controls .email-select-all {
  float: left;
  margin: 5px 35px 5px 0;
}
.mailbox-email-list .mailbox-controls .email-select-all label {
  padding-left: 8px;
}
.mailbox-email-list .mailbox-controls .email-select-all label input {
  display: none;
}
.mailbox-email-list .mailbox-controls .email-select-all label .checkbox-actual {
  float: left;
}
.mailbox-email-list .mailbox-controls .email-select-all label .main-text {
  float: left;
  padding-left: 6px;
  padding-top: 2px;
}

.mailbox-email-list .email-pager-top {
  float: right;
  width: 300px;
}
.mailbox-email-list .email-pager-top .email-pager-count {
  float: right;
  margin-right: 10px;
  margin-top: 6px;
}
.mailbox-email-list .email-pager-top .email-pager-container {
  float: right;
}
.mailbox-email-list .email-pager-top,
.mailbox-email-list .email-pager-bottom {
  text-align: right;
}
.mailbox-email-list .email-pager-top .email-pager-count,
.mailbox-email-list .email-pager-bottom .email-pager-count {
  margin-bottom: 5px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

</style>