<% if @success == true  %>
//	$('#invitation_<%= @invitation.id %>').remove();
	$('#invitations').html('<%= escape_javascript(render("invitations")) %>');
	$('#page_links').html('<%= escape_javascript(paginate(@invitations, :remote => true).to_s) %>');
	$('.page_info').html('<%= escape_javascript(page_entries_info(@invitations, :remote => true).to_s) %>');
<% end %>
$("#flash").html('<%= j render partial: "shared/messages" %>');