<div class="modal fade small-modal" id="small-modal" tabindex="-1" role="dialog" aria-labelledby="small-modal-label" aria-hidden="false" style="display: none;"> \
  <div class="modal-dialog"> \
    <div class="modal-content" style="border-top: 0px;"> \
      <div class="top-border"><span class="border-block bg-color-green"></span><span class="border-block bg-color-orange"></span><span class="border-block bg-color-yellow"></span><span class="border-block bg-color-blue"></span><span class="border-block bg-color-red"></span><span class="border-block bg-color-lime"></span><span class="border-block bg-color-purple"></span></div><div class="top-border"><span class="border-block bg-color-green"></span><span class="border-block bg-color-orange"></span><span class="border-block bg-color-yellow"></span><span class="border-block bg-color-blue"></span><span class="border-block bg-color-red"></span><span class="border-block bg-color-lime"></span><span class="border-block bg-color-purple"></span> \
      </div> \
      <div class="modal-header"> \
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> \
        <h4 class="modal-title" id="small-modal-label">Confirmation Message</h4> \
      </div> \
      <div class="modal-body">Sure To Cancel Role? \
      </div> \
      <div class="modal-footer"> \
        <button name="button" type="button" class="btn btn-primary" > \
          <strong>Ok</strong> \
        </button> \
        <%= link_to "Cancel", "#", class: "btn btn-danger", data: { dismiss:"modal"} %> \
      </div> \
    </div> \
  </div>  \
</div>  \
