<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PonderOnDemand</title>

    <!--<link rel="icon" href="assets/images/required/ico/favicon.png">-->
    <link type="text/css" href="../../../../fonts/metrize-icons/styles-metrize-icons.css" rel="stylesheet">

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag 'application', params[:controller],'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', params[:controller] ,'data-turbolinks-track' => true %>
    
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>  
    <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track': 'reload' %>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "styles-core" %>
    <%= javascript_include_tag "required/circloid-functions" %>
    <%= javascript_include_tag "script" %>


  </head>
  <body id="body" data-locale="<%=I18n.locale%>">
    <div id="modal-holder"></div>
    <% if user_signed_in? %>
      <%= render partial: "shared/top" %>
    <% end %>
      <%= render partial: "shared/body"%>
    <% if user_signed_in? %>
      <%= render partial: "shared/footer"%>
    <% end %>
    <div id="flash">
      <% unless flash.empty? %>
        <%= render partial: "shared/messages" %>
      <% end %>
    </div>
  </body>
  </html>
