  <div class="container-fluid">
    <div id="body-container">
      <div class="standalone-page registration-page">
      <div class="standalone-page-logo">
        <div class="standalone-page-top-border">
          <span class="border-block bg-color-green"></span>
          <span class="border-block bg-color-orange"></span>
          <span class="border-block bg-color-yellow"></span>
          <span class="border-block bg-color-blue"></span>
          <span class="border-block bg-color-red"></span>
          <span class="border-block bg-color-lime"></span>
          <span class="border-block bg-color-purple"></span>
        </div>
        <div class="standalone-page-block">

          <div class="row">
            <div class="col-md-12">
                <div class="block-heading">
                  <div class="main-text h2">
                  </div>
                </div>
                <div id="rootwizard-1" class="wizard-container">
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "", role: 'form'  ) do |f| %>
                      <ul class="nav nav-pills">
                        <li class="active">
                          <a href="#basic-tab" data-toggle="tab">
                            <span class="icon icon-number-one icon-size-medium"></span>
                            <span class="main-text">
                              <span class="h2">Registration</span>
                              <small>This step has validation</small>
                            </span>
                          </a>
                        </li>
                        <li>
                          <a href="#database-tab" data-toggle="tab">
                            <span class="icon icon-number-two icon-size-medium"></span>
                            <span class="main-text">
                              <span class="h2">Finish</span>
                              <small>You're done!</small>
                            </span>
                          </a>
                        </li>
                      </ul>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only"></span>
                        </div>
                      </div>
                      <div class="tab-content">
                          <!-- First tab -->
                          <div style="padding: 20px 0px 0px 0px" class="tab-pane active" id="basic-tab">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <%= f.label :first_name, "First name (*)".html_safe, class:"control-label" %>
                                  <%= f.text_field :first_name, class: "form-control",  placeholder: "First name" ,required: true %>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <%= f.label :middle_name, "Middle name".html_safe, class:"control-label" %>
                                  <%= f.text_field :middle_name, class: "form-control", placeholder: "Middle name" %>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <%= f.label :last_name, "Last name (*)".html_safe, class:"control-label" %>
                                  <%= f.text_field :last_name, class: "form-control", placeholder: "Last name", required: true %>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <%= f.label :second_last_name, "Second last name".html_safe, class:"control-label" %>
                                  <%= f.text_field :second_last_name, placeholder: "Second last name", class: "form-control" %>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <%= f.label :email, "Email (*)".html_safe, class:"control-label" %>
                                  <%= f.text_field :email, class: "form-control", placeholder: "Email", required: true %>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <%= f.fields_for :users_organizations do |fff| %>
                                    <%= fff.fields_for :organization do |ff| %>
                                      <%= ff.label :name, "Organization name (*)".html_safe, class:"control-label" %>
                                      <%= ff.text_field :name, class: "form-control", placeholder: "Organization name", required: true %>
                                      <%= ff.hidden_field :status_entity_id, class: "form-control", value: @statusOrgAct[0].id %>
                                    <% end %>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <%= f.label :password, "Password (*)".html_safe, class:"control-label" %>
                                  <%= f.password_field :password, class: "form-control", placeholder: "Enter password", required: true %>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <%= f.label :password_confirmation, "Password confirmation (*)".html_safe, class:"control-label" %>
                                  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter password again", required: true %>
                                </div>
                              </div>
                            </div>
                            <%= f.hidden_field :status_entity_id, class: "form-control", value: @statusUserAct[0].id %>
                            <%= f.hidden_field :status, class: "form-control", value:'1' %>
                          </div>
                          <!-- Second tab -->
                          <div style="padding: 20px 0px 0px 0px" class="tab-pane" id="database-tab">

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <div class="row">
                                    <div class="col-md-10">
                                      <div class="form-group">                       
                                        <%#= label_tag :email_invitation, "", class:"control-label" %>
                                      <%= fff.fields_for :invitations do |aa| %>     
                                        <%= aa.text_field :email, class:"form-control", placeholder:"Enter email" %>
                                      <% end %>                                 

                                      </div>
                                    </div>
                                    <div align="center" class="col-md-2">
                                      <div class="form-group">
                                        <%#= label_tag :email_invitation, "", class:"control-label" %>
                                        <%= button_tag(type: 'button', class: "form-control add_li btn btn-default") do %>
                                          Add
                                        <%end%>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <h2 id='result'></h2>
                                <!--<div style="padding: 5px 5px 5px 5px; height: 200px; overflow-y: scroll; overflow-x: hidden;"">-->
                                  <ul id="list_invitations" class="list-group">
                                  </ul>
                                <!--</div>-->
                              </div>
                            <% end %> <%# end %>
                          </div>
                          <!-- Previous/Next buttons -->
                          <ul class="pager wizard">
                              <li class="previous"><a href="javascript: void(0);">Previous</a></li>
                              <li class="next"><a href="javascript: void(0);">Next</a></li>
                              <li style="padding-left: 455px; display: none" id="create"><%= f.submit "Create Account", class: "btn btn-success" %></li>
                          </ul>
                      </div>
                  <% end %>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="change-section">
                <h3 class="heading">Already Have An Account?</h3>
                <%= link_to "Sign In", new_user_session_path, class: "btn btn-default btn-block" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
