<div class="container-fluid">
	<div id="body-container">
		<div id="right-column">
			<div class="right-column-content">
				<div class="row">
					<div class="col-md-6">
						<h1>
							<span aria-hidden="true" class="icon icon-documents"></span>
							<span class="main-text">
								<%= t('profile.main') %>
								<!-- <#% if can? :update, User %>
									<h3>Updatable</h3>
								<#% else %>
									<h3>Unupdatable</h3>
								<#% end %> -->
							</span>
						</h1>
					</div>
					<div class="col-md-6">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {method: :put, multipart: true, class: "login-form form-vertical fv-form fv-form-bootstrap", id: "edit_profile" }) do |f| %>
							<div class="block">
								<div class="profile-header-feature-image">
									<div class="row">
										<div class="col-sm-3 col-sm-offset-9">
											<div class="profile-info" style="margin-top: -170px">
												<div class="main-profile-pic">
													<% if can? :update, User %>
														<%= f.file_field :avatar %>
														<a href="#" id="upload_link" class="target">
															<%= image_tag(@user.avatar.url(:medium), width: 190, height: 190, class: "img-responsive list-thumbnail-normal") %>
														</a>
													<% else %>
														<%= image_tag(@user.avatar.url(:medium), width: 190, height: 190, class: "img-responsive list-thumbnail-normal") %>
													<% end %>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="block-content-outer">
									<div class="block-content-inner">
										<ul id="default-tabs-alt-1" class="nav nav-tabs tabs-alt-1">
											<li class="active"><a href="#default-tabs-new-alt-1" data-toggle="tab"><%= @user.full_name %></a></li>
											<li id="org_position"><a href="#default-tabs-org_position-alt-1" data-toggle="tab"><%= t('profile.form.additional_fields') %></a></li>
										</ul>
										<div class="tab-content">
											<div id="default-tabs-new-alt-1" class="tab-pane active">
												<div style="padding: 0px 40px 40px 40px">
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<%= f.label :first_name, User.human_attribute_name(:first_name) + " (*)".html_safe, class:"control-label" %>
																<% if can? :update, User %>
																	<%= f.text_field :first_name, class: "form-control",  placeholder: true ,required: true %>
																<% else %>
																	<p><strong style="margin-left: 12px;"><%= @user.first_name %></strong></p>
																<% end %>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<%= f.label :middle_name, User.human_attribute_name(:middle_name) + " (*)".html_safe, class:"control-label" %>
																<% if can? :update, User %>
																	<%= f.text_field :middle_name, class: "form-control", placeholder: true  %>
																<% else %>
																	<p><strong style="margin-left: 12px;"><%= @user.middle_name %></strong></p>
																<% end %>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<%= f.label :last_name, User.human_attribute_name(:last_name) + " (*)".html_safe, class:"control-label" %>
																<% if can? :update, User %>
																	<%= f.text_field :last_name, class: "form-control", placeholder: true, required: true %>
																<% else %>
																	<p><strong style="margin-left: 12px;"><%= @user.last_name %></strong></p>
																<% end %>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<%= f.label :second_last_name, User.human_attribute_name(:second_last_name) + " (*)".html_safe, class:"control-label" %>
																<% if can? :update, User %>
																	<%= f.text_field :second_last_name, placeholder: true, class: "form-control" %>
																<% else %>
																	<p><strong style="margin-left: 12px;"><%= @user.second_last_name %></strong></p>
																<% end %>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<%= f.label :email, User.human_attribute_name(:email) + " (*)".html_safe, class:"control-label" %>
																<p><strong style="margin-left: 12px;"><%= @user.email %></strong></p>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<%= f.label :status_entity_id, User.human_attribute_name(:status_entity_id) + " (*)".html_safe, class:"control-label" %>
																<p><strong style="margin-left: 12px;"><%= @user.status_entity_id %></strong></p>
															</div>
														</div>
													</div>
													<% if can? :update, User %>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<%= f.label :password, User.human_attribute_name(:password) + " (*)".html_safe, class:"control-label" %>
																<%= f.password_field :password, class: "form-control", placeholder: true %>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<%= f.label :password_confirmation, User.human_attribute_name(:password_confirmation) + " (*)".html_safe, class:"control-label" %>
																<%= f.password_field :password_confirmation, class: "form-control", placeholder: true %>
															</div>
														</div>
													</div>
													<% end %>
													<p></p>
													<% if can? :update, User %>
														<div id="buttons" class="form-group has-feedback">
															<%= f.submit t('profile.form.update_btn'),  class: "btn btn-primary" %>
															<%= button_tag t('profile.form.cancel_btn'), type: :reset, class: "btn btn-danger" %>
														</div>
													<% end %>
												</div>
											</div>
											<div id="default-tabs-org_position-alt-1" class="tab-pane">
												<div style="padding: 0px 40px 40px 40px">
													<div class="row">
														<div class="col-md-6">
															<div class="form-group has-feedback">
																<%= f.label :name, Organization.human_attribute_name(:name).html_safe, class: "control-label" %>
																<% if @user.organization_id != nil %>
																	<p><strong style="margin-left: 12px;"><%= @organization.name %></strong></p>
																<% else %>
																	<p><strong style="margin-left: 12px;">None</strong></p>
																<% end %>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group has-feedback">
																<%= f.label :website, Organization.human_attribute_name(:website).html_safe, class: "control-label" %>
																<% if @user.organization_id != nil %>
																	<p><strong style="margin-left: 12px;"><%= @organization.website %></strong></p>
																<% else %>
																	<p><strong style="margin-left: 12px;">None</strong></p>
																<% end %>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group has-feedback">
																<%= f.label :phone_number, Organization.human_attribute_name(:phone_number).html_safe, class: "control-label" %>
																<% if @user.organization_id != nil %>
																	<p><strong style="margin-left: 12px;"><%= @organization.phone_number %></strong></p>
																<% else %>
																	<p><strong style="margin-left: 12px;">None</strong></p>
																<% end %>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group has-feedback">
																<%= f.label :address, Organization.human_attribute_name(:address).html_safe, class: "control-label" %>
																<% if @user.organization_id != nil %>
																<p><strong style="margin-left: 12px;"><%= @organization.address %></strong></p>
																<% else %>
																<p><strong style="margin-left: 12px;">None</strong></p>
																<% end %>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group has-feedback">
																<%= f.label :status_entity_id, Organization.human_attribute_name(:status_entity_id).html_safe, class: "control-label" %><br>
																<% if @user.organization_id != nil %>
																	<p><strong style="margin-left: 12px;"><%= @organization.status_entity_id %></strong></p>
																<% else %>
																	<p><strong style="margin-left: 12px;">None</strong></p>
																<% end %>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										</div>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">

#upload_link{
    text-decoration:none;
}
#user_avatar{
    display:none
}
.profile-header-feature-image {
  padding: 15px 20px 20px;
  position: relative;
  z-index: 0;
  z-index: 1;
}
.profile-header-feature-image .btn-group {
  -webkit-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
}
.profile-header-feature-image .profile-info {
  top: 90px;
  position: relative;
}
.profile-header-feature-image .profile-info .main-profile-pic img {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
}
/* User Profile */
.main-profile-pic {
  margin: 0 auto;
  text-align: center;
  max-width: 250px;
  min-height: 190px;
}
.main-profile-pic img {
  max-width: 100%;
}
.main-profile-pic img:hover,
.main-profile-pic img:focus {
  border: px solid #aaaaaa;
}
.profile-info .profile-info-block {
  margin: 0 0 10px 20px;
}
.profile-info .profile-info-block .profile-info-title {
  margin: 0;
  color: #989898;
}
.profile-info .profile-info-block .profile-info-title .glyphicon,
.profile-info .profile-info-block .profile-info-title .icon {
  margin: 0 6px 0 0;
}
.profile-info .profile-info-block .profile-info-body {
  margin: 0 0 0 21px;
}

  .node {
    cursor: pointer;
  }

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .node text {
    font-size:10px;
    font-family:sans-serif;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }

</style>
<script type="text/javascript">
$('#user_avatar').on('change', function(event) {
	var files = event.target.files;
	var image = files[0]
	var reader = new FileReader();
	reader.onload = function(file) {
		var img = new Image();
		img.src = file.target.result;
		$('.target').html($('<img>',{class:'img-responsive list-thumbnail-normal', width:'190', height:'190', src:''+img.src+''}));
	}
	reader.readAsDataURL(image);
});
$("#upload_link").on('click', function(e){
	e.preventDefault();
	$("#user_avatar:hidden").trigger('click');
});
</script>
